* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.container-header {
  padding: 0 45px;
  overflow: hidden;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  clear: both; }

span.icon-bar {
  display: block;
  background: #E62E6A;
  height: 7px;
  width: 50px; }

.solid-line {
  height: 1.5px;
  width: auto;
  display: block;
  background: #e5eaf6; }
  .solid-line.footer-line {
    background: #293980; }

* {
  margin: 0;
  padding: 0; }

.linear-line {
  height: 4.1px;
  width: 70px;
  display: block;
  background: #8d97b5;
  border-radius: 2px; }

.not-padding {
  padding: 0; }

.uppercase {
  text-transform: uppercase; }

.bnavbar-toggle {
  top: 0;
  cursor: pointer;
  right: 0;
  height: 50px;
  width: 33px;
  right: -10	px;
  padding: 0;
  display: none;
  z-index: 9999;
  position: relative; }
  .bnavbar-toggle span {
    background: #fff !important;
    border-radius: 90px;
    overflow: hidden; }
  .bnavbar-toggle[navbar-expand=true] span:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    position: relative;
    bottom: -10px; }
  .bnavbar-toggle[navbar-expand=true] span:nth-child(2) {
    width: 0px;
    margin: 0 auto;
    display: flex; }
  .bnavbar-toggle[navbar-expand=true] span:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: relative;
    top: -8px; }
  .bnavbar-toggle span {
    height: 3px;
    width: 100%;
    background: #000000;
    position: relative;
    display: block;
    margin: 7px 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    .bnavbar-toggle span:first-child {
      margin: 4px 0; }

.container-medium {
  width: 100%;
  padding: 0px 46px;
  box-sizing: border-box; }

.list-false {
  list-style: none; }

.capital {
  text-transform: capitalize; }

.full-width {
  width: 100%; }

.container-medial {
  padding: 7px 100px;
  overflow: hidden; }

body {
  overflow-x: hidden;
  -moz-overflow-x: hidden;
  -o-overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -ms-overflow-x: hidden; }

.align-to-vertical {
  display: flex;
  vertical-align: middle;
  align-items: center; }

.both {
  clear: both; }

@media screen and (max-width: 767px) {
  .navbar-toggle {
    display: block; }

  .container-medium {
    padding: 0px 20px; } }
@media screen and (max-width: 550px) {
  .container-medium {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box; }

  .col-xxs-12 {
    width: 100%; }

  .col-xxs-11 {
    width: 91.66666667%; }

  .col-xxs-10 {
    width: 83.33333333%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-8 {
    width: 66.66666667%; }

  .col-xxs-7 {
    width: 58.33333333%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-5 {
    width: 41.66666667%; }

  .col-xxs-4 {
    width: 33.33333333%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-2 {
    width: 16.66666667%; }

  .col-xxs-1 {
    width: 8.33333333%; } }

/*# sourceMappingURL=component.css.map */
