* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 550px) {
  header .navbar-header {
    padding: 0px 5px; }

  section.banner {
    background-position-x: 20px;
    overflow: visible;
    height: 500px; }
    section.banner .dotted-mask {
      right: -50px;
      bottom: -60px;
      display: block; }
    section.banner .banner-bg-color {
      overflow: visible; }
    section.banner .banner-text {
      padding: 30px 10px;
      padding-left: 25px;
      padding-top: 170px; }
      section.banner .banner-text .banner-title {
        padding: 10px 0; }
        section.banner .banner-text .banner-title h1 {
          font-size: 45px; }
      section.banner .banner-text .banner-subtitle h4 {
        font-size: 16px; }
      section.banner .banner-text .banner-intext p {
        font-size: 13px; }
    section.banner .button-area {
      padding-top: 90px; }

  section.who-we-are {
    height: auto;
    overflow: visible; }
    section.who-we-are .who-bg {
      height: auto; }
    section.who-we-are .inset-def {
      max-width: 100%; }
    section.who-we-are .who-bg .set-image-bg {
      position: static;
      padding-top: 30px; }
      section.who-we-are .who-bg .set-image-bg img {
        height: auto;
        width: 100%; }

  section.what-we-do {
    margin: 0px;
    padding: 30px 0; }
    section.what-we-do .image-area {
      width: 80px;
      float: left; }
      section.what-we-do .image-area img {
        display: block;
        float: left; }
    section.what-we-do .text-definition {
      float: none;
      display: block;
      max-width: calc(100% - 80px);
      overflow: hidden; }
      section.what-we-do .text-definition .def-title {
        padding: 0px; }
        section.what-we-do .text-definition .def-title h3 {
          font-size: 20px;
          padding: 0px !important;
          margin: 0px !important;
          text-align: left; }
      section.what-we-do .text-definition p {
        font-size: 13px;
        text-align: left;
        word-break: keep-all; }

  section.client {
    padding-top: 25px; }
    section.client .profect-type {
      padding-left: 25px; }
      section.client .profect-type h5 {
        text-align: left;
        font-size: 22px; }
    section.client .client-def {
      padding-top: 20px; }

  section.client span.featured-line {
    float: left;
    margin-left: 25px; }

  section.client .image-stage {
    padding-left: 40px;
    padding-right: 15px; }

  section.portfolio .porfolio-title .sample-title {
    float: none;
    width: 100%;
    padding-top: 10px; }
    section.portfolio .porfolio-title .sample-title h3 {
      font-size: 20px; }
  section.portfolio .porfolio-title .intitle {
    float: none;
    width: 100%; }
    section.portfolio .porfolio-title .intitle h2 {
      text-align: left;
      font-size: 24px; }
    section.portfolio .porfolio-title .intitle span.featured-line {
      float: left !important; }
  section.portfolio .tab-data {
    overflow-x: scroll; }
    section.portfolio .tab-data .nav-tabs {
      padding-top: 0px;
      min-width: 680px; }

  section.contact .form-grup {
    padding: 0px 15px; }
    section.contact .form-grup .form-input {
      padding-right: 0px; }
      section.contact .form-grup .form-input.select {
        padding-left: 0px; }

  footer .logo-container {
    padding: 10px 0;
    left: 0; }
    footer .logo-container img {
      float: none;
      margin: 0 auto;
      display: flex; }
  footer .copyright {
    text-align: center;
    display: flex;
    float: none !important; }
    footer .copyright span {
      float: none;
      text-align: center;
      margin: 0 auto; } }

/*# sourceMappingURL=responsive.css.map */
