	@import "../../mixin";
@import "../../variable";
@media screen and (max-width: 550px) {
	//header
	header {
		.navbar-header {
			padding: 0px 5px;
		}
	}
	//banner
	section.banner {
		background-position-x: 20px;
		overflow: visible;
		height: 500px;
		.dotted-mask {
			right: -50px;
			bottom: -60px;
			display: block;
		}
		.banner-bg-color
		{
			overflow: visible;
		}
		.banner-text {
			padding: 30px 10px;
			padding-left: 25px;
			padding-top: 170px;
			.banner-title {
				padding: 10px 0;
				h1 {
					font-size: 45px;
				}
			}
			.banner-subtitle h4 {
				font-size: 16px;
			}
			.banner-intext p {
				font-size: 13px;
			}
		}
		.button-area {
			padding-top: 90px;
		}
	}
	//end banner
	//who we area
	section.who-we-are {
		height: auto;
		overflow: visible;
		.who-bg {
			height: auto;
		}
		.inset-def {
			max-width: 100%;
		}
		.who-bg .set-image-bg {
			position: static;
			padding-top: 30px;
			img
			{
				height: auto;
				width: 100%;

			}
		}
	}
	//end who we area
	//whatr we do
	section.what-we-do {
		margin: 0px;
		padding: 30px 0;
		.image-area {
			width: 80px;
			float: left;
			img {
				display: block;
				float: left;
			}
		}

		.text-definition {
			float: none;
			//width:calc(100% - 80px);
			display: block;
			max-width: calc(100% - 80px);
			overflow: hidden;
			.def-title {
				padding: 0px;
				h3 {
					font-size: 20px;
					padding: 0px !important;
					margin: 0px !important;
					text-align: left;
				}
			}
			p
		 {
		 	font-size: 13px;
		 	text-align: left;
		 	word-break:keep-all;
		 }
		}
		 	}
	//end what we do
	//client
	section.client {
		padding-top: 25px;
		.profect-type {
			padding-left: 25px;
			h5 {
				text-align: left;
				font-size: 22px;
			}
		}
		.client-def {
			padding-top: 20px;
		}
	}
	section.client span.featured-line {
		float: left;
		margin-left: 25px;
	}
	section.client .image-stage {
		padding-left: 40px;
		padding-right: 15px;
	}


	//portfolio

	section.portfolio

	{ .porfolio-title{

		.sample-title
	{
		float: none;
		width: 100%;
		padding-top: 10px;
		h3
		{
			font-size: 20px;
		}
	} 
	.intitle{
		float: none;
		width: 100%;
	 h2
	{
		text-align: left;
		font-size: 24px;
	}
	span.featured-line
	{
		float: left !important;
	}
}

}
.tab-data{
	overflow-x:scroll;
.nav-tabs
{
	padding-top: 0px;
	min-width: 680px;
}
}}


//form
section.contact .form-grup 
{
padding: 0px 15px;
	.form-input
{
	padding-right: 0px;
	&.select
{
	padding-left: 0px;
}
}}


//footer
footer
{
	.logo-container
	{
		padding: 10px 0;
		left: 0;
		img
		{
			float:none;
			margin: 0 auto;
			display: flex;	

		}
	}
	.copyright
	{
		text-align: center;
		display: flex;
		float: none !important;
		span
		{
			float: none;
			text-align: center;
			margin: 0 auto;


		}
	}
}
}