* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: adobe; }

.solid-line {
  height: 2px;
  width: 100%;
  display: block;
  background: #FBFBFB; }

span.linear {
  height: 3px;
  width: 70px;
  background: #E1C655;
  display: block;
  float: left; }

.container-body {
  background: rgba(11, 69, 128, 0) !important; }

.navbar-button {
  display: none; }

header {
  background-image: url(../images/about_bg.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 0px; }
  header .header-bg {
    background: rgba(11, 69, 128, 0.87);
    padding: 10px 0;
    overflow: hidden;
    padding: 10px 50px; }
  header nav ul {
    display: none; }
  header .nav-phone {
    padding: 20px 0;
    color: #fff; }
    header .nav-phone i {
      font-size: 20px;
      color: #E1C655; }
    header .nav-phone span {
      font-size: 15px;
      position: relative;
      top: -4px;
      left: 10px; }

section.content {
  padding: 0px; }
  section.content .content-left {
    height: 100%;
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    background: #FBFBFB;
    padding-left: 50px;
    box-sizing: border-box;
    overflow: hidden;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box; }
    section.content .content-left .nav-lit {
      padding-top: 50px; }
      section.content .content-left .nav-lit ul li {
        padding: 10px 0 5px 0; }
        section.content .content-left .nav-lit ul li.active {
          border-bottom: 3px solid #E1C655; }
          section.content .content-left .nav-lit ul li.active a {
            color: #47657F; }
        section.content .content-left .nav-lit ul li a {
          text-decoration: none;
          color: #868686;
          font-size: 16px; }
    section.content .content-left .med-list {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 50px;
      padding-bottom: 30px; }
      section.content .content-left .med-list ul li {
        float: left;
        padding: 0px 7px; }
        section.content .content-left .med-list ul li a {
          text-decoration: none;
          color: #CCCCCC;
          font-size: 20px; }
  section.content .content-area {
    width: calc(100% - 200px);
    height: auto;
    padding-top: 47px;
    background: #fff;
    float: left;
    box-sizing: border-box; }
    section.content .content-area .container-content {
      padding: 0px 100px;
      overflow: hidden;
      clear: both;
      box-sizing: border-box;
      position: relative; }
    section.content .content-area .intitle h2 {
      padding: 0 !important;
      margin: 0 !important; }
    section.content .content-area .mision-area.first {
      padding-top: 50px; }
    section.content .content-area .mision-area .stage {
      overflow: hidden;
      height: auto;
      float: left;
      padding: 10px 15px; }
    section.content .content-area .mision-area .container-fluid {
      padding: 0px;
      clear: both;
      padding-right: 20px;
      padding-left: 0px;
      float: none; }
    section.content .content-area .mision-area .image-container {
      float: left;
      width: 70px;
      height: 100%;
      align-items: center;
      vertical-align: middle;
      position: relative;
      display: flex;
      min-height: 50px; }
      section.content .content-area .mision-area .image-container img {
        height: 55px;
        align-items: center;
        vertical-align: middle;
        display: block; }
    section.content .content-area .mision-area .about-text {
      float: left;
      width: calc(100% - 70px);
      padding: 5px 0; }
      section.content .content-area .mision-area .about-text p {
        line-height: 1.7;
        font-size: 16px;
        letter-spacing: .8px;
        color: #6A6A6A; }

.task-title h2 {
  padding: 0 !important;
  margin: 0 !important; }

.our-task {
  padding: 50px 0; }
  .our-task .task-detail {
    padding: 40px 0;
    max-width: 600px; }
    .our-task .task-detail p {
      color: #6A6A6A;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: .8px; }

.the-way {
  padding: 50px 0; }
  .the-way .work-list {
    padding: 40px 0; }
  .the-way .work-title {
    color: #6A6A6A;
    font-size: 15px; }
  .the-way .work-area {
    padding: 30px 15px; }
  .the-way .list-work {
    border: 1px solid #F8F8F8;
    padding: 15px 0;
    overflow: hidden; }
    .the-way .list-work .container-fluid {
      height: auto;
      overflow: hidden;
      width: auto;
      justify-content: center;
      display: flex; }
    .the-way .list-work .image-container {
      float: left;
      width: 50px;
      height: 40px;
      padding: 2px 0; }
      .the-way .list-work .image-container img {
        height: 35px; }
    .the-way .list-work .text-def {
      width: calc(100% -50px);
      float: left;
      padding: 10px 0;
      height: 40px;
      font-size: 16px;
      color: #6A6A6A;
      padding-left: 10px; }

.footer-contain .schedule {
  padding: 40px 0 30px 0;
  overflow: hidden;
  background: #FEFEFE; }
  .footer-contain .schedule .schedule-list .row {
    padding: 0px 25px 0px 0;
    box-sizing: border-box;
    overflow: hidden; }
  .footer-contain .schedule .icon {
    width: 20px;
    float: left; }
  .footer-contain .schedule .definition {
    float: left;
    width: calc(100% - 20px);
    padding-left: 10px; }
    .footer-contain .schedule .definition p {
      color: #6A6A6A;
      font-size: 14px;
      letter-spacing: .5px;
      margin: 0;
      line-height: 1.8; }

.footer-copy {
  padding: 15px 0; }
  .footer-copy p {
    text-align: center;
    font-size: 14px;
    color: #6A6A6A;
    letter-spacing: 1.7;
    margin: 0 !important; }

.to-top {
  width: 45px;
  height: 45px;
  right: 30px;
  position: fixed;
  bottom: 60px; }
  .to-top button {
    background: #D2D2D2;
    border: 0;
    cursor: pointer;
    align-items: center;
    height: 45px;
    width: 45px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .to-top button:focus {
      outline: 0; }
    .to-top button:hover {
      background: #A1A1A1; }
    .to-top button i {
      font-size: 30px;
      color: #fff; }

@media screen and (min-height: 1440px) {
  .footer-contain .schedule {
    padding: 50px 0 40px 0; } }
@media screen and (min-width: 1440px) {
  .footer-contain .schedule {
    padding: 100px 0; }

  body {
    max-width: 100%;
    margin: 0 auto; }

  section.content .content-area .container-content {
    padding-top: 10px;
    padding-bottom: 10px; }

  .the-way {
    padding: 60px 0; }

  .footer-copy {
    padding: 20px 0; }

  .the-way .work-area {
    padding: 40px 0; }

  section.content .content-area {
    padding-top: 60px; }

  section.content .content-left .nav-lit {
    padding-top: 67px; } }
@media screen and (max-width: 768px) {
  header .nav-phone {
    display: none; }

  .navbar-button {
    display: block; }

  section.content .content-left {
    display: none !important; }

  section.content .content-area {
    width: 100% !important; }
    section.content .content-area .container-content {
      padding: 50px 50px 0 50px; }

  .the-way .list-work .container-fluid {
    justify-content: left;
    padding-left: 20px; }

  .footer-contain .schedule .schedule-list .row {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; } }
@media screen and (max-width: 550px) {
  section.content .content-area .container-content {
    padding: 0px 30px; }

  .the-way .list-work .container-fluid {
    padding-left: 15px; }

  .our-task .task-detail {
    padding: 40px 0 20px 0; } }
@media screen and (max-width: 420px) {
  header .header-bg {
    padding: 0px 12px; }

  section.content .content-area .container-content {
    padding: 0px 15px; } }

/*# sourceMappingURL=about.style.css.map */
