* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../images/homepage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  body a {
    cursor: pointer !important; }
  body .body-parent {
    background: rgba(11, 69, 128, 0.8); }
  body .container-body {
    height: 100%;
    font-family: adobe;
    height: auto; }

h1 {
  padding: 0 !important;
  margin: 0 !important; }

@font-face {
  font-family: adobe;
  src: url(../fonts/Adobe-Text-Pro_2050.ttf); }
header {
  padding: 10px 0; }
  header.header-me {
    padding-left: 5%;
    position: relative;
    z-index: 9999;
    padding-right: 5%; }
  header a {
    text-decoration: none !important; }
  header .container {
    overflow: visible;
    position: none;
    width: 100% !important;
    padding: 0px 50px; }
  header .logo {
    padding: 10px 0;
    float: left;
    font-family: adobe; }
    header .logo .logo-left {
      float: left;
      color: #fff;
      border-right: 2px solid #fff;
      padding-right: 12px; }
      header .logo .logo-left h1 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 32px;
        position: relative;
        top: 5px; }
    header .logo .logo-right {
      font-size: 14px;
      float: left;
      text-align: left;
      margin-left: 7px;
      color: #fff; }
  header .navbar-header {
    float: right; }
    header .navbar-header nav .navbar-link {
      display: none; }
    header .navbar-header nav ul li {
      float: left;
      padding: 10px 15px; }
      header .navbar-header nav ul li:last-child {
        padding-right: 0px; }
      header .navbar-header nav ul li a {
        color: #fff;
        font-size: 16px;
        font-family: adobe; }

.navbar-button {
  display: none;
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  left: 0; }
  .navbar-button button {
    display: block;
    display: none;
    cursor: pointer; }
    .navbar-button button span {
      display: block;
      width: 30px;
      height: 3px;
      background: #fff;
      margin: 5px; }
      .navbar-button button span:first-child {
        width: 23px; }
      .navbar-button button span:last-child {
        width: 20px; }

.close-nav {
  display: none; }
  .close-nav button {
    height: 40px;
    margin-left: 20px;
    width: 40px;
    opacity: 1;
    border: 0;
    cursor: pointer;
    background: transparent; }
    .close-nav button:focus {
      outline: 0; }
    .close-nav button span {
      position: relative;
      height: 2.5px;
      width: 25px;
      background: #3D5A76;
      display: block; }
      .close-nav button span:first-child {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg); }
      .close-nav button span:last-child {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        top: -2.5px; }

section.content {
  padding-top: 75px;
  color: #405671;
  position: relative; }
  section.content .east-title {
    padding: 80px 0; }
    section.content .east-title .title {
      font-family: adobe;
      color: #fff; }
    section.content .east-title .linear-line {
      height: 6px;
      margin-top: 15px;
      width: 90px;
      display: block;
      background: #E1C655; }
  section.content .book-est {
    width: 850px;
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    margin: 0 auto; }
    section.content .book-est .book-list {
      float: right;
      width: 50%;
      background: #fff;
      height: 350px;
      overflow: hidden;
      position: relative; }
      section.content .book-est .book-list.breef {
        box-shadow: inset -6px 0px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset -6px 0px 20px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: inset -6px 0px 20px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset -6px 0px 20px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: inset -6px 0px 20px 0px rgba(0, 0, 0, 0.1); }
      section.content .book-est .book-list .list-container {
        padding: 50px;
        padding-top: 75px;
        box-sizing: border-box;
        overflow: hidden;
        overflow: hidden; }
        section.content .book-est .book-list .list-container .list-title {
          padding-bottom: 20px; }
        section.content .book-est .book-list .list-container p {
          font-size: 16px;
          letter-spacing: .7px;
          line-height: 1.6;
          color: #5B799C; }
        section.content .book-est .book-list .list-container .button-area {
          padding: 10px 0; }
          section.content .book-est .book-list .list-container .button-area button {
            border: 0;
            cursor: pointer;
            border: 1px solid  #8AA5BA;
            padding: 6px 15px;
            color: #8AA5BA;
            background: transparent;
            border-radius: 2px;
            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            -ms-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out; }
            section.content .book-est .book-list .list-container .button-area button:focus {
              outline: 0; }
            section.content .book-est .book-list .list-container .button-area button:hover {
              background: #8AA5BA;
              color: #fff; }
      section.content .book-est .book-list .bookmark {
        position: absolute;
        top: 0;
        right: 50px; }

footer {
  background: rgba(41, 88, 134, 0.87);
  padding: 10px 0;
  position: relative;
  z-index: 99;
  height: 40px;
  margin-top: -40px;
  align-items: center; }
  footer .align-to-center {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0; }
  footer span {
    color: #fff;
    font-size: 14px; }

@media screen and (min-width: 2400px) {
  body.body .body-parent .container-body .container {
    max-width: 3000px;
    width: 100% !important; }

  body.body .body-parent .container-body section.content .book-est .book-list {
    height: 900px;
    padding: 90px 100px; }

  .east-title {
    padding: 160px 0px !important; } }
@media screen and (min-width: 2200px) {
  body.body .body-parent .container-body .container {
    max-width: 2000px;
    width: 100% !important; }

  body.body .body-parent .container-body section.content .book-est .book-list {
    height: 800px;
    padding: 80px 90px; }

  .east-title {
    padding: 150px 0px !important; } }
@media screen and (min-width: 2000px) {
  body.body .body-parent .container-body .container {
    max-width: 1800px !important;
    width: 100% !important; }

  body.body .body-parent .container-body section.content .book-est .book-list {
    height: 700px;
    padding: 70px 80px; }

  .east-title {
    padding: 140px 0px !important; } }
@media screen and (min-width: 1700px) {
  body.body .body-parent .container-body .container {
    max-width: 1300px;
    width: 100% !important; }

  body.body .body-parent .container-body section.content .book-est .book-list {
    height: 600px;
    padding: 60px 70px; }

  .east-title {
    padding: 100px 0px !important; } }
@media screen and (min-width: 1440px) {
  body.body {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position: top;
    overflow: hidden; }
    body.body header {
      position: relative;
      width: 100%;
      max-width: 100%;
      clear: both;
      overflow: hidden; }
      body.body header .container {
        max-width: 1200px;
        width: 1200px;
        position: relative;
        clear: both;
        overflow: hidden;
        float: none; }
    body.body .body-parent {
      height: 100%; }
      body.body .body-parent .container-body {
        height: 100%;
        width: 100%;
        max-width: 100%; }
        body.body .body-parent .container-body section.content {
          position: absolute;
          bottom: 0;
          width: 100%;
          bottom: 0; }
          body.body .body-parent .container-body section.content .container {
            bottom: 0;
            margin: 0 auto;
            display: flex; }
          body.body .body-parent .container-body section.content .book-est {
            width: 90%; }
            body.body .body-parent .container-body section.content .book-est .book-list {
              height: 500px; }
              body.body .body-parent .container-body section.content .book-est .book-list .list-container {
                padding: 80px 50px; }
        body.body .body-parent .container-body .container {
          width: 1200px;
          margin: 0 auto; }

  footer.foot {
    position: absolute;
    bottom: 0;
    width: 100%; } }
@media screen and (max-width: 768px) {
  .navbar-button {
    padding-left: 0px;
    display: block; }
    .navbar-button button {
      display: block;
      padding-right: 0px; }

  .close-nav {
    display: block;
    padding: 10px 0;
    position: relative;
    top: 15px; }

  header {
    padding-top: 0px;
    position: relative;
    z-index: 999999999999999999999999; }
    header .logo {
      padding-top: 15px;
      position: relative; }
    header .navbar-header {
      position: fixed;
      width: 0%;
      overflow: hidden;
      left: 0;
      height: calc(100% + 10px);
      top: -10px;
      z-index: 99;
      z-index: 99999999;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      transition: 0.3s ease;
      background: rgba(255, 255, 255, 0.97); }
      header .navbar-header.inactive {
        width: 0%; }
      header .navbar-header.active {
        width: calc(100% + 20px); }
      header .navbar-header nav {
        height: 100%;
        padding: 0px 20px; }
        header .navbar-header nav .navbar-link {
          display: block;
          position: absolute;
          bottom: 0;
          padding: 20px 0;
          display: flex;
          margin: 0 auto;
          align-content: center;
          align-items: center;
          justify-content: center;
          width: 100%; }
          header .navbar-header nav .navbar-link ul {
            margin: 0 auto;
            display: flex; }
            header .navbar-header nav .navbar-link ul li {
              display: block;
              padding: 0px 10px; }
              header .navbar-header nav .navbar-link ul li:first-child {
                padding-left: 0px; }
              header .navbar-header nav .navbar-link ul li i {
                font-size: 20px;
                color: #CCCCCC; }
        header .navbar-header nav ul {
          margin: 0 auto;
          align-content: center;
          align-items: center;
          justify-content: center;
          display: block; }
          header .navbar-header nav ul li {
            float: none;
            margin: 0 auto;
            position: relative;
            width: auto;
            overflow: hidden;
            text-align: center;
            padding: 15px 0; }
            header .navbar-header nav ul li a {
              color: #3D5A76; }

  section.content {
    padding-bottom: 40px;
    padding-top: 0px; }
    section.content .book-est {
      width: auto; }
      section.content .book-est .book-list {
        width: 100%;
        float: none;
        height: auto;
        padding-bottom: 90px; }
        section.content .book-est .book-list.breef {
          box-shadow: none;
          -moz-box-shadow: none;
          -o-box-shadow: none;
          -webkit-box-shadow: none;
          -ms-box-shadow: none; }
        section.content .book-est .book-list.service {
          box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.1);
          -o-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.1);
          -ms-box-shadow: inset 0px -6px 15px 0px rgba(0, 0, 0, 0.1); }

  footer {
    position: static;
    margin-top: 0px; } }
@media screen and (max-width: 1000px) {
  section.content .book-est {
    width: auto; } }
@media screen and (max-width: 550px) {
  header .header-bg {
    padding: 0px 30px !important; }

  section.content .east-title .title {
    font-size: 24px; }

  section.content .east-title .linear-line {
    height: 3.5px; }

  footer p {
    font-size: 13px; } }
@media screen and (max-width: 550px) {
  .container {
    padding: 0px 30px !important; } }
@media screen and (max-width: 420px) {
  .container {
    padding: 0px 14px !important;
    clear: both;
    overflow-x: hidden; }
    .container .navbar-button {
      width: 40px;
      overflow: hidden; }
      .container .navbar-button button {
        position: relative;
        right: -10px; }

  .logo {
    padding: 10px 0; }
    .logo .logo-left {
      float: left;
      padding-right: 10px; }
      .logo .logo-left h1 {
        font-size: 30px; }
    .logo .logo-right {
      font-size: 13px; } }

/*# sourceMappingURL=main.style.css.map */
