@import "variable";
body
{
background-image: url(../images/homepage.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
a{
	cursor: pointer !important;
}
.body-parent
{
		background: rgba(11,69,128,.8);
}

.container-body
{

	height: 100%;
	font-family: adobe;	
	height: auto;
}
}
h1
{
	padding: 0 !important;
	margin: 0 !important;
}
@font-face
{
	font-family: adobe;
	src:url(../fonts/Adobe-Text-Pro_2050.ttf);
}
header 
{
	&.header-me
	{
		padding-left: 5%;
		position: relative;
		z-index: 9999;
		padding-right: 5%;
	}
	padding: 10px 0;
	a
	{
		text-decoration: none !important;
	}
	.container
	{
		overflow: visible;
		position: none;
		width: 100% !important;
		padding: 0px 50px ;
	}
	.logo
	{
		padding: 10px 0;
		float: left;
		font-family: adobe;
		.logo-left
		{
			float: left;
			color: #fff;
			border-right: 2px solid #fff;
			padding-right: 12px;
			h1
			{
				padding:0 !important;
				margin: 0 !important;
				font-size: 32px;
				position: relative;top: 5px;
			}
		}
		.logo-right
		{
			font-size: 14px;
			float: left;
			text-align: left;
			margin-left: 7px;	
			color: #fff;
		}
	}

	.navbar-header
	{
		float: right;
		nav
		{
			.navbar-link
			{
				display: none;
			}
			ul
			{
				li
				{
					float: left;
					padding: 10px 15px;
					&:last-child
					{
						padding-right: 0px;
					}
					a
					{
						color: #fff;
						font-size: 16px;
						font-family: adobe;
					}
				}
			}
		}
	}
}


.navbar-button
{
	display: none;
	height: 50px;
	width: 50px;
	position: relative;
	float: left;
	left: 0;
button
{
	display: block;
	display: none;
	cursor: pointer;

	span
	{
		display: block;
		width: 30px;
		height: 3px;
		background: #fff;
		margin: 5px;
		&:first-child
		{
			width: 23px;
		}
		&:last-child
		{
			width: 20px;
		}
	}
}
}

.close-nav
{
	display: none;
	button
	{
		height: 40px;
		margin-left: 20px;
		width: 40px;
		opacity: 1;
		@include normal-button();
		background: transparent;
		span
		{
			position: relative;
			height: 2.5px;
			width: 25px;
			background: #3D5A76;
			display: block;
			&:first-child
			{
				@include transform(rotate(-45deg));
			}
			&:last-child
			{
				@include transform(rotate(45deg));
				top: -2.5px;	
			}
		}
	}
}
section.content
{
	padding-top: 75px;
	color: #405671;
	position: relative;
	.east-title
	{
		padding: 80px 0;
	.title
	{
		font-family: adobe;
		color: #fff;
	}
	.linear-line
	{
		height: 6px;
		margin-top: 15px;
		width: 90px;
		display: block;
		background: #E1C655;
	}
}
	.book-est
	{
		width: 850px;
		left: 0;
		right: 0;
		position: relative;
		bottom: 0;
		margin: 0 auto;
		.book-list
		{
			float: right;
			width: 50%;
			background: #fff;
			height: 350px;
			overflow: hidden;
			position: relative;
			&.breef
			{
				@include box-shadow( inset -6px 0px 20px 0px rgba(0,0,0,0.1));
			}
			.list-container
			{
				padding: 50px ;
				padding-top: 75px;
				box-sizing:border-box;
				overflow: hidden;
				overflow: hidden;
				.list-title
				{
					padding-bottom: 20px;
				}
				p
				{
					font-size: 16px;	
					letter-spacing: .7px;
					line-height: 1.6;
					color: #5B799C;
				}

				.button-area
				{
					padding: 10px 0;
					button
					{
						@include normal-button();
						border:1px solid  #8AA5BA;
						padding: 6px 15px;
						color: #8AA5BA;
						background: transparent;
						border-radius: 2px;
						@include transition(.2s ease-in-out);
						&:hover
						{
							background: #8AA5BA;
							color: #fff;
						}
					}
				}

				
			}
			.bookmark
				{
					position: absolute;
					top: 0;
					right: 50px;
				}
		}
	}

}
footer
{
	background: rgba(41,88,134,.87);
	padding: 10px 0;
	position: relative;
	z-index: 99;
	height: 40px;
	margin-top: -40px;
	align-items:center;
.align-to-center
{
margin: 0 auto;
position: absolute;
left: 0;
right: 0;

}


	span
	{
		color: #fff;
		font-size: 14px;
	}
}

@media screen and (min-width: 2400px)
{
	body.body .body-parent .container-body .container
	{
		max-width: 3000px;
		width:100% !important;
	}
	body.body .body-parent .container-body section.content .book-est .book-list
	{
		height: 900px;
		padding: 90px 100px;
	}
	.east-title
	{
		padding: 160px 0px !important;
	}
}


@media screen and (min-width: 2200px)
{
	body.body .body-parent .container-body .container
	{
		max-width: 2000px; 
		width:100% !important;
	}
	body.body .body-parent .container-body section.content .book-est .book-list
	{
		height: 800px;
		padding: 80px 90px;
	}
	.east-title
	{
		padding: 150px 0px !important;
	}
}


@media screen and (min-width: 2000px)
{
	body.body .body-parent .container-body .container
	{
		max-width: 1800px !important; 
		width:100% !important;
	}
	body.body .body-parent .container-body section.content .book-est .book-list
	{
		height: 700px;
		padding: 70px 80px;
	}
	.east-title
	{
		padding: 140px 0px !important;
	}
}


@media screen and (min-width: 1700px)
{
	body.body .body-parent .container-body .container
	{
		max-width: 1300px; 
		width:100% !important;
	}
	body.body .body-parent .container-body section.content .book-est .book-list
	{
		height: 600px;
		padding: 60px 70px;
	}

	.east-title
	{
		padding: 100px 0px !important;
	}
}





@media screen and (min-width: 1440px)
{

	body.body
	{
		position: relative;
		height: 100%;
		width: 100%;
		background-size: cover ; 
		background-position: center;
		background-position: top;
		overflow: hidden;

		header
		{
			position: relative;
			width: 100%;
			max-width: 100%;
			clear: both;
			overflow: hidden;

			.container
			{
				max-width: 1200px;		
				width: 1200px;	
				position: relative;
			clear: both;
			overflow: hidden;
			float: none;

			}
		}
			.body-parent
			{
				height: 100%;
				.container-body
				{
					height: 100%;
					width: 100%;
					max-width: 100%;
					section.content 
					{
						position: absolute;
						bottom: 0;
						width: 100%;
						bottom: 0;
						.container
						{
							
							bottom: 0;
							margin: 0 auto;
							display: flex;

						}
						.book-est
					{
						width: 90%;
						.book-list
						{
							height: 500px;
							.list-container
							{
								padding: 80px 50px;
							}
						}

					}}
					.container
					{
						width: 1200px;
						margin: 0 auto;
					}
				}

			}

	}
	footer.foot
	{
		position: absolute;
		bottom: 0;
		width: 100%;

	}
}


@media screen and (max-width: 768px)
{
.navbar-button
{
padding-left: 0px;
display: block;
	button
	{
		display: block;
		padding-right: 0px;
	}
}
.close-nav
{
	display: block;
	padding: 10px 0;
	position: relative;
	top: 15px;
}

header 
{
	padding-top: 0px;
	position: relative;
	z-index: 999999999999999999999999;
	.logo
	{
		padding-top: 15px;
		position: relative;
	}

	.navbar-header
	{
		position: fixed;
		width: 0%;
		overflow: hidden;
		left: 0;
		height: calc(100% + 10px);
		top: -10px;
		z-index: 99;
		z-index: 99999999;
		@include transition(.3s ease);
					background:rgba(255,255,255,.97);
					&.inactive
					{
						width: 0%;
					}
					&.active
					{
						width: calc(100% + 20px);
					}


		nav
		{

			height: 100%;
			padding: 0px 20px;
			.navbar-link
			{
				display: block;
				position: absolute;
				bottom: 0;
				padding: 20px 0;
				display: flex;
				margin: 0 auto;
				align-content:center;
				align-items:center;
				justify-content:center;
				width: 100%;
				ul
				{
					margin: 0 auto;
					display: flex;

					li
					{
						display: block;
						padding: 0px 10px;
						&:first-child
						{
							padding-left: 0px;
						}
						i
						{
							font-size: 20px;
							color: #CCCCCC;
						}
					}
				}
			}

			ul
			{
				margin: 0 auto;
				align-content:center;
				align-items:center;
				justify-content:center;
				display: block;

				li{
					float: none;
					margin: 0 auto;
					position: relative;
					width: auto;
					overflow: hidden;
					text-align: center;
					padding: 15px 0;
					a{
						color: #3D5A76;
					}	
				}
			}
		}
	}
}

	section.content
	{
		padding-bottom:40px;
		padding-top: 0px;
.book-est
{
	width: auto;
	.book-list
	{
		width: 100%;
		float: none;
		height: auto;
		padding-bottom: 90px;
		&.breef
			{
				@include box-shadow( none);
			}
		&.service
		{
			@include box-shadow(inset 0px -6px 15px 0px rgba(0,0,0,0.1));
		}
	}
}}

footer
{
	position: static;
	margin-top: 0px;
}
}

@media screen and(max-width: 1000px)
{
	section.content .book-est
	{
		width: auto;
	}
}


@media screen and (max-width: 550px)
{
	header .header-bg
	{
		padding: 0px 30px !important;
	}
	section.content .east-title .title
	{
		font-size: 24px;
	}
	section.content .east-title .linear-line
	{
		height: 3.5px;
	}
	footer
	{
		p{
			font-size: 13px;
		}
	}
}


@media screen and(max-width: 550px) {
	.container{
		padding: 0px 30px !important;
	}
	
}
@media screen and(max-width: 420px) {
	.container{
		padding: 0px 14px !important;
		clear: both;
		overflow-x:hidden;
		.navbar-button
		{
width: 40px;
overflow: hidden;
button
{
	position: relative;
	right: -10px;
}
		}
	}

	.logo
	{
		padding: 10px 0;
		.logo-left
		{
			float: left;
			padding-right: 10px;
			h1
			{
				font-size: 30px;			}
		}
		.logo-right
		{
			font-size: 13px;
		}
	}
	
}