* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../images/services_bg.jpg); }

.services-def {
  padding: 30px 15px 50px 15px;
  max-width: 900px; }
  .services-def p {
    font-size: 16px;
    font-weight: normal;
    color: #6A6A6A;
    text-align: left;
    line-height: 1.6;
    letter-spacing: .7px; }

.academic {
  padding: 50px 0;
  padding-top: 70px; }
  .academic .list-academic {
    padding: 30px 15px;
    max-width: 650px;
    color: #6A6A6A;
    text-align: left;
    line-height: 1.6;
    letter-spacing: .7px; }
    .academic .list-academic .academic-list {
      padding: 10px 0;
      overflow: hidden;
      min-height: 50px; }
      .academic .list-academic .academic-list .list-icon {
        float: left;
        width: 70px;
        min-height: 70px;
        align-items: center;
        display: flex; }
      .academic .list-academic .academic-list .list-text {
        float: left;
        width: calc(100% - 70px);
        padding: 10px  0;
        overflow: hidden; }
        .academic .list-academic .academic-list .list-text p {
          margin: 0;
          text-align: left;
          line-height: 1.6;
          font-size: 16px;
          letter-spacing: .7px; }

.studen-service {
  padding: 50px 0;
  padding-top: 70px; }

.studen-def {
  padding: 20px 0;
  max-width: 900px;
  padding-bottom: 50px;
  line-height: 1.7;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: .7px; }
  .studen-def p {
    padding: 10px 0; }
  .studen-def ul {
    padding-top: 10px;
    list-style: none; }
    .studen-def ul li {
      position: relative;
      width: 100%;
      padding-left: 30px; }
      .studen-def ul li:before {
        position: absolute;
        left: 0;
        top: 7px;
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 100%;
        background: #585858; }

.dedicate {
  padding: 50px 0;
  padding-top: 70px;
  max-width: 700px; }
  .dedicate .dedicate-text {
    clear: both;
    padding: 20px 0;
    line-height: 1.7;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: .7px; }

@media screen and (max-width: 768px) {
  header {
    padding-top: 0px; } }

/*# sourceMappingURL=services.css.map */
