* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 1024px) {
  section.banner {
    background-position: right;
    background-size: auto 100%;
    background-position: top right;
    height: 580px; }
    section.banner .banner-text {
      padding: 100px 30px; }
    section.banner .button-area {
      padding-top: 70px; }

  section.who-we-are .about {
    left: -45px; }

  section.what-we-do .text-in-title {
    left: 10px; }

  section.client .client-carousel .item {
    padding-right: 30px; } }

/*# sourceMappingURL=responsive.css.map */
