@import "../../mixin";
@import "../../variable";
@media screen and (max-width: 1080px)
{
	section.banner
{
	background-position: right;
	background-size: auto 100%;
	background-position: top right;
	height: 600px;
.banner-text
{
	padding-left: 55px;
}
}
section.client .client-carousel .item
{
	padding-right: 80px;
}


section.portfolio .outer-title
{
	left: -55px;
}
}




@media screen and(max-width:991px)
{
	.out-title
	{
		display: none !important;
	}


	section.what-we-do .image-area
{
	float: left;
	width: 80px;
}


section.what-we-do .what-we
{
	padding-bottom: 25px;
}

	section.what-we-do .text-definition
{
	max-width: calc(100% - 80px);
	float: left;
	.def-title
	{
		padding: 0;
		margin: 0;
		h3
		{
			padding: 0px !important;
			margin: 0px !important;
			text-align: left;
		}
	}
	.definition
{
	width: 100%;
	p
	{
		text-align: left;
	}
}
}
}