* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 330px) {
  section.banner .banner-text {
    padding-top: 150px; }

  section.banner .banner-text .banner-title h1 {
    font-size: 35px; }

  section.who-we-are {
    padding-top: 120px; }

  section.what-we-do .text-definition {
    width: calc(100% - 55px); }

  section.what-we-do .image-area {
    width: 55px; }

  section.what-we-do .image-area img {
    height: 45px; } }

/*# sourceMappingURL=responsive.css.map */
