* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.capital {
  text-transform: capitalize; }

.lowwercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.title, .subtitle {
  font-family: "Josefin Sans", sans-serif; }

.pharagraph {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

.bold {
  font-weight: bold; }

.semi-bold {
  font-weight: 600; }

.text-gray {
  color: #858585; }

.text-yellow {
  color: #fedc00; }

.mini-line {
  height: 2px;
  background: #fff;
  width: 50px;
  display: block; }

.featured-line {
  height: 2px;
  width: 50px;
  background: #fff;
  display: block; }

.p-0 {
  padding: 0; }

.m-0 {
  margin: 0; }

.container-medium {
  width: 100%;
  padding: 0px 46px;
  box-sizing: border-box; }

.list-false {
  list-style: none; }

.container-medial {
  padding: 7px 100px;
  overflow: hidden; }

.align-to-vertical {
  display: flex;
  vertical-align: middle;
  align-items: center; }

.yellow {
  color: #fedc00; }

.pink {
  color: #d12852; }

.grey {
  color: #858585; }

.both {
  clear: both; }

.align-to-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

.linear {
  height: 1.2px;
  width: 50px;
  background: #fff;
  display: block;
  float: right;
  position: relative;
  top: 7px; }

button.navbar-toggle {
  border: none;
  background: transparent !important; }
  button.navbar-toggle span {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease; }
  button.navbar-toggle[show=true] span {
    position: relative; }
    button.navbar-toggle[show=true] span:first-child {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      right: -2px;
      bottom: -3px; }
    button.navbar-toggle[show=true] span:last-child {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      right: -2px;
      top: -3px; }

@media screen and (min-width: 1440px) {
  header {
    max-width: 1440px; }

  .container-body {
    max-width: 1440px;
    width: 1440px;
    position: relative;
    -moz-position: relative;
    -o-position: relative;
    -ms-position: relative;
    -webkit-position: relative;
    overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -ms-overflow-x: hidden;
    margin: 0 auto; } }
@media screen and (max-width: 550px) {
  .container-medium {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box; }

  .col-xxs-12 {
    width: 100%; }

  .col-xxs-11 {
    width: 91.66666667%; }

  .col-xxs-10 {
    width: 83.33333333%; }

  .col-xxs-9 {
    width: 75%; }

  .col-xxs-8 {
    width: 66.66666667%; }

  .col-xxs-7 {
    width: 58.33333333%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-5 {
    width: 41.66666667%; }

  .col-xxs-4 {
    width: 33.33333333%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-2 {
    width: 16.66666667%; }

  .col-xxs-1 {
    width: 8.33333333%; } }

/*# sourceMappingURL=component.css.map */
