@import url(component.css);
* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.pb {
  padding-top: 100px; }

.pad {
  padding: 160px 0; }

.imaginery {
  background-size: cover;
  background-image: url(../images/bg.png); }

.item-image {
  height: 250px;
  border-radius: 5px;
  background-size: cover;
  overflow: hidden;
  padding: 10px 15px;
  box-sizing: border-box; }
  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#services {
  padding: 150px 0;
  box-sizing: border-box; }
  #services #carousel-services {
    padding: 0px 50px;
    box-sizing: border-box;
    margin: 0px; }
  #services .owl-nav {
    display: block !important; }
    #services .owl-nav button {
      background: transparent;
      height: 40px;
      border: 0;
      cursor: pointer;
      width: 40px;
      border-radius: 100%;
      border: 1.3px solid #595959;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease; }
      #services .owl-nav button:focus {
        outline: 0; }
      #services .owl-nav button:hover {
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        margin-top: -2px; }
      #services .owl-nav button img {
        opacity: .8;
        position: relative;
        top: -2px;
        width: 25px; }
  #services button.owl-prev {
    position: absolute;
    top: calc(50% - 20px);
    left: -30px;
    display: block;
    font-size: 20px; }
  #services button.owl-next {
    position: absolute;
    top: calc(50% - 20px);
    right: -30px;
    display: block;
    font-size: 20px; }

.bolder {
  font-weight: 900; }

.quotes {
  float: left; }

.up-space {
  padding-top: 5px; }

.imager {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center left;
  border-radius: 5px; }
  .imager img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.imager-thumb {
  width: 33.33%;
  height: 120px;
  float: left;
  box-sizing: border-box;
  padding: 5px; }

.imager-thumb:first-child {
  padding-left: 0; }

.imager-thumb:last-child {
  padding-right: 0; }

.thumb {
  width: auto;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer; }
  .thumb.active {
    border: 3px solid #333333; }
  .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

p {
  color: #999; }

html {
  font-family: Times, serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: white;
  color: black;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

#top-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%; }

#featured-product {
  padding: 150px 0px; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.row-flex > [class*='portfolio_item_weight-'] {
  display: flex;
  flex-direction: column;
  padding: 0; }

.portfolio_item_weight-50 {
  width: 50%; }

.portfolio_item_weight-25 {
  width: 25%; }

.font-lead p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px; }

.section-title h1,
.section-title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-style: normal;
  word-spacing: 2px;
  font-size: 3.250rem;
  line-height: 1.1; }

.section-title h2 {
  font-size: 2.7em !important; }

.section-title > .subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-style: normal;
  word-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.box-thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block; }

.box-thumbnail:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  transition: background-color 250ms ease; }

.box-thumbnail:hover:before {
  background-color: rgba(0, 0, 0, 0.6); }

.box-thumbnail .box-thumbnail-caption {
  opacity: 0;
  display: block;
  -ms-transform: translate(0%, -40%);
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow: visible;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  padding: 0 12.5%;
  margin: auto; }

.box-thumbnail:hover .box-thumbnail-caption {
  opacity: 1;
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.box-thumbnail .box-thumbnail-caption h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFF;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-style: normal;
  word-spacing: 2px; }

.box-thumbnail .box-thumbnail-caption .btn {
  border: 2px solid #FFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFF; }

.sub-text {
  padding-bottom: 30px; }

.uppsercase {
  text-transform: uppercase; }

.white-text {
  color: #fff; }

header#header {
  background: #fff;
  clear: both;
  overflow: hidden;
  padding-bottom: 0px;
  width: 100%;
  max-height: 90px;
  font-family: "Poppins", sans-serif; }
  header#header .container-header {
    width: 100%;
    padding: 0px 60px; }
    header#header .container-header .navbar .buttonav {
      position: absolute;
      left: 0;
      top: 30px; }
      header#header .container-header .navbar .buttonav button {
        border: 0;
        cursor: pointer;
        background: transparent; }
        header#header .container-header .navbar .buttonav button:focus {
          outline: 0; }
        header#header .container-header .navbar .buttonav button span {
          height: 2px;
          width: 25px;
          background: #505050;
          display: block;
          margin: 5px 0; }
          header#header .container-header .navbar .buttonav button span:nth-child(2) {
            width: 17px; }
          header#header .container-header .navbar .buttonav button span:last-child {
            width: 11px; }
    header#header .container-header .navbar .nav-area {
      width: calc(50% - 75px);
      float: left; }
      header#header .container-header .navbar .nav-area.navbar-get-right nav {
        float: left !important; }
        header#header .container-header .navbar .nav-area.navbar-get-right nav ul {
          padding-right: 0px;
          padding-left: 50px; }
      header#header .container-header .navbar .nav-area nav {
        float: left;
        align-items: center;
        vertical-align: middle;
        height: 100%;
        padding: 15px 0 5px 0;
        display: block; }
        header#header .container-header .navbar .nav-area nav ul {
          height: auto;
          padding-right: 50px;
          height: 60px; }
          header#header .container-header .navbar .nav-area nav ul li {
            float: left;
            padding: 15px 20px; }
            header#header .container-header .navbar .nav-area nav ul li a {
              font-size: 16px;
              text-decoration: none;
              color: #B0B0B0;
              text-transform: uppercase;
              font-weight: 500;
              letter-spacing: 1.5;
              -webkit-transition: 0.2s ease-in-out;
              -moz-transition: 0.2s ease-in-out;
              -o-transition: 0.2s ease-in-out;
              -ms-transition: 0.2s ease-in-out;
              transition: 0.2s ease-in-out; }
              header#header .container-header .navbar .nav-area nav ul li a:hover {
                color: #8C8A91; }
    header#header .container-header .navbar .navbar-get-left {
      display: block;
      overflow: hidden; }
    header#header .container-header .navbar .logo {
      width: 150px;
      float: left;
      overflow: hidden; }
      header#header .container-header .navbar .logo .logo-container img {
        width: 100%;
        object-fit: cover; }
    header#header .container-header .navbar .navbar-get-right {
      display: block; }
  header#header .search {
    position: absolute;
    right: 0;
    max-width: 220px;
    padding: 30px 0; }
    header#header .search .searchbar button {
      background: transparent;
      color: #5D5D5F;
      font-size: 18px;
      padding: 2px 0;
      max-width: 20px;
      overflow: hidden;
      border: 0;
      cursor: pointer;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg); }
      header#header .search .searchbar button:focus {
        outline: 0; }
      header#header .search .searchbar button:focus + input {
        width: calc(100% - 24px);
        border-color: #5D5D5F; }
    header#header .search .searchbar input {
      width: 0px;
      overflow: hidden;
      padding: 2px 6px;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease;
      border: none;
      border-bottom: 1.5px solid transparent; }
      header#header .search .searchbar input:focus {
        outline: 0;
        width: calc(100% - 24px);
        border-color: #5D5D5F; }

.list-product {
  padding-top: 30px; }

.font-lead {
  padding: 20px 0; }

.section-title .linear-line {
  height: 6px;
  width: 100px;
  background: #333333;
  display: block;
  position: relative;
  top: 10px;
  margin-top: 5px; }
  .section-title .linear-line.center {
    margin-left: calc(50% - 50px); }
.section-title .solid-line {
  height: 6px;
  width: 100px;
  background: #333333;
  margin-top: 20px;
  margin-left: calc(50% - 50px); }

.define {
  text-align: center;
  padding: 50px 0 0 0; }

.white-bg {
  background: #fff;
  padding: 30px;
  box-sizing: border-box; }

footer {
  padding: 70px 0 100px 0;
  background: #fff;
  margin-top: 50px;
  font-family: "Poppins", sans-serif; }
  footer .list {
    color: #C0C0C0; }
  footer .foot-nav {
    padding: 0px 60px; }
  footer .full-contact {
    padding-top: 10px;
    clear: both; }
  footer .title {
    font-weight: bold; }
  footer nav {
    width: 100%; }
    footer nav ul {
      margin: 0 auto;
      display: flex;
      clear: both;
      overflow: hidden;
      max-width: 450px; }
      footer nav ul li {
        padding: 10px 15px;
        float: left;
        list-style: none; }
        footer nav ul li:first-child {
          padding-left: 0px; }
        footer nav ul li:last-child {
          padding-right: 0px; }
        footer nav ul li a {
          text-decoration: none;
          color: #605F64;
          font-weight: bold;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          footer nav ul li a:hover {
            color: #8C8A91; }
  footer ul.medsos {
    float: right;
    list-style: none; }
    footer ul.medsos li {
      float: left;
      padding: 10px; }
      footer ul.medsos li a {
        text-decoration: none; }
        footer ul.medsos li a button {
          height: 30px;
          width: 30px;
          border: 0;
          cursor: pointer;
          font-size: 18px;
          color: #fff;
          border-radius: 100%;
          background: #052D7A;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          footer ul.medsos li a button:focus {
            outline: 0; }
          footer ul.medsos li a button:hover {
            color: #052D7A;
            background: #fff; }

.searchbar-li {
  width: 100%;
  position: absolute;
  padding-right: 20px;
  overflow: hidden;
  display: none; }
  .searchbar-li .search-me {
    width: 100%;
    overflow: hidden;
    border: 1.3px solid #B0B0B0;
    border-radius: 2.5px; }
    .searchbar-li .search-me input {
      float: left;
      width: calc(100% - 35px);
      padding: 4px 10px;
      border: 0px;
      color: #B0B0B0;
      font-size: 14px; }
      .searchbar-li .search-me input:focus {
        outline: 0;
        border-radius: 2.5px; }
    .searchbar-li .search-me button {
      float: left;
      background: transparent;
      width: 20px;
      border: 0;
      cursor: pointer;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      font-size: 20px;
      margin-left: 5px;
      padding: 3px 5px;
      position: relative;
      top: -2px;
      right: -3px;
      color: #B0B0B0; }
      .searchbar-li .search-me button:focus {
        outline: 0; }

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto; } }
@media screen and (max-width: 1080px) {
  footer .foot-nav {
    padding: 0px 20px; } }
@media screen and (max-width: 992px) {
  footer .foot-nav {
    display: flex;
    margin: 0 auto;
    padding: 0px 0px; }
    footer .foot-nav .row {
      width: 100%;
      padding: 0px 0px;
      margin: 0; }

  footer nav ul {
    display: block; }

  footer nav ul li {
    float: none;
    clear: both;
    width: 100%; }
    footer nav ul li:first-child {
      padding-left: 15px; }

  header#header .container-header {
    padding: 0px 40px; }

  header#header .container-header .navbar .nav-area.navbar-get-left nav ul {
    padding-right: 10px; }

  header#header .container-header .navbar .nav-area.navbar-get-right nav ul {
    padding-left: 10px; } }
@media screen and (max-width: 810px) {
  header#header .container-header .navbar .nav-area nav ul li {
    padding: 15px 15px; } }
@media screen and (max-width: 800px) {
  header#header .container-header .navbar .nav-area.navbar-get-right nav ul {
    padding-left: 0px; } }
@media screen and (max-width: 768px) {
  .searchbar-li {
    display: block; }

  .section-title h1, .section-title h2 {
    font-size: 40px; }

  footer .foot-nav .row {
    padding: 0px 150px; }

  footer ul.medsos {
    float: none;
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    padding: 20px 0 0 0; }

  .section-title > .subtitle {
    font-size: 18px; }

  header#header {
    height: 60px;
    overflow: visible; }

  .navbar {
    background: #fff;
    position: absolute;
    height: 60px;
    overflow: hidden;
    width: 100%;
    z-index: 9999;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.2); }
    .navbar.active {
      height: 330px; }
    .navbar .nav-area {
      position: relative;
      float: none;
      width: 100%; }

  header#header .container-header .navbar .logo {
    position: absolute;
    top: 0;
    left: calc(50% - 70px); }

  header#header .container-header .navbar .navbar-get-left {
    overflow: visible;
    clear: both; }

  header#header .container-header .navbar .nav-area nav {
    float: left !important; }

  header#header .container-header .navbar .nav-area {
    width: 100% !important; }
    header#header .container-header .navbar .nav-area.navbar-get-left {
      padding-top: 50px; }

  header#header .container-header .navbar .buttonav {
    z-index: 99999;
    left: 20px;
    top: 15px; }
    header#header .container-header .navbar .buttonav button span {
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      -ms-transition: 0.2s ease;
      transition: 0.2s ease; }
    header#header .container-header .navbar .buttonav button[navbar-expand=true] {
      border: 0;
      cursor: pointer;
      background: transparent; }
      header#header .container-header .navbar .buttonav button[navbar-expand=true]:focus {
        outline: 0; }
      header#header .container-header .navbar .buttonav button[navbar-expand=true] span {
        height: 2px;
        width: 25px;
        background: #505050;
        display: block;
        margin: 5px 0; }
        header#header .container-header .navbar .buttonav button[navbar-expand=true] span:nth-child(2) {
          width: 10px; }
        header#header .container-header .navbar .buttonav button[navbar-expand=true] span:last-child {
          width: 25px; }

  header#header .container-header .navbar .nav-area nav ul li {
    float: none;
    width: 100%; }

  header#header .container-header .navbar .nav-area.navbar-get-right nav ul {
    padding-left: 0px; }

  header#header .container-header {
    padding: 0px 0px; }

  header#header .search {
    display: none; }

  header#header .container-header .navbar .logo .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 10px; }
    header#header .container-header .navbar .logo .logo-container img {
      height: 40px;
      width: auto;
      margin: 0 auto;
      display: flex;
      object-fit: cover; } }
.box-thumbnail {
  overflow: hidden; }
  .box-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .box-thumbnail.a {
    height: 300px; }
  .box-thumbnail.b {
    height: 229px; }
  .box-thumbnail.c {
    height: auto;
    overflow: hidden; }
    .box-thumbnail.c img {
      min-height: 529px; }
  .box-thumbnail.d img {
    min-height: 506px; }
  .box-thumbnail.e img {
    min-height: 506px;
    margin: 0 auto; }
  .box-thumbnail.f {
    height: 506px; }

.box-thumbnail {
  position: relative !important;
  overflow: hidden; }
  .box-thumbnail img {
    filter: brightness(70%); }

.box-area-capt {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block !important;
  opacity: 1 !important;
  z-index: 9999;
  vertical-align: bottom; }
  .box-area-capt .thubmnail-caption-text {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 0px 30px 30px 50px; }
  .box-area-capt p {
    color: #fff;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important; }
  .box-area-capt h2 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-weight: 700; }

@media screen and (max-width: 1024px) {
  #services button.owl-next {
    right: 0; }

  #services button.owl-prev {
    left: 0; } }
@media screen and (max-width: 765px) {
  footer .foot-nav .row {
    padding: 0px 120px; } }
@media screen and (max-width: 600px) {
  footer .foot-nav .row {
    padding: 0px 100px; }

  .row-flex > [class*='portfolio_item_weight-'] {
    display: block;
    width: 100%; } }
@media screen and (max-width: 550px) {
  footer .foot-nav .row {
    padding: 0px 0px;
    text-align: center; }

  .section-title h1, .section-title h2 {
    font-size: 30px; }

  .section-title > .subtitle {
    font-size: 16px; }

  .list-product > div {
    margin: 0 auto;
    display: flex;
    justify-content: center; }

  footer nav ul li:last-child {
    padding-right: 15px; } }

/*# sourceMappingURL=main.style.css.map */
