* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  section {
    overflow: hidden; }

  .dotted-mask {
    display: none !important; }

  .out-title {
    display: none !important; }

  header {
    background: #000;
    position: relative;
    height: 80px; }
    header nav {
      background: #000000 !important;
      border: none;
      clear: both;
      height: 80px;
      width: 100%; }
      header nav .navbar-collapse {
        position: relative;
        padding: 0px 10px;
        clear: both;
        border: none;
        padding-top: 0px;
        background: #000;
        float: none;
        padding-bottom: 0px;
        margin-top: 0px;
        border-bottom: 2px solid #fedc00;
        overflow: hidden; }
      header nav .navbar-brand img {
        height: 50px; }
      header nav .navbar-toggle {
        position: relative;
        overflow: hidden;
        top: 20px; }
      header nav ul {
        box-sizing: border-box;
        overflow: hidden;
        margin: 0;
        padding: 0;
        clear: both; }
        header nav ul li {
          padding-left: 10px; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }

  section.banner {
    height: 500px; }
    section.banner .banner-text {
      padding-top: 30px; }

  section.who-we-are {
    margin-top: 0px;
    padding-top: 0px;
    padding-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 50px; }
    section.who-we-are .inset-def {
      max-width: calc(100% - 200px); }
    section.who-we-are .row {
      padding-top: 30px; }

  section.who-we-are .who-bg .intitle {
    font-size: 22px;
    max-width: 350px; }

  section.who-we-are .who-bg p {
    font-size: 14px; }

  section.who-we-are .who-title {
    margin-top: -150px; }

  section.who-we-are .who-bg .lates {
    padding-top: 10px;
    padding-left: 15px; }

  section.who-we-are .more {
    padding-bottom: 0px;
    padding-top: 15px; }

  section.what-we-do .what-we {
    padding: 15px 0; }
    section.what-we-do .what-we p {
      font-size: 14px; }

  section.what-we-do .text-definition .def-title h3 {
    font-size: 24px; }

  section.client {
    padding: 0px 0; }

  section.client .client-carousel .item {
    padding-right: 20px; }

  section.client .image-stage {
    width: 100% !important;
    padding-left: 30px;
    padding-right: 10px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }

  section.portfolio {
    padding-top: 100px; }
    section.portfolio [role=tabpanel] {
      width: 100%;
      overflow-x: scroll;
      -moz-overflow-x: scroll;
      -o-overflow-x: scroll;
      -webkit-overflow-x: scroll;
      -ms-overflow-x: scroll;
      overflow-x: scroll;
      -moz-overflow-x: scroll;
      -o-overflow-x: scroll;
      -webkit-overflow-x: scroll;
      -ms-overflow-x: scroll; }
      section.portfolio [role=tabpanel]:hover::-webkit-scrollbar {
        height: 5px;
        display: block; }
      section.portfolio [role=tabpanel]:hover::-webkit-scrollbar-thumb {
        background: #0D0D0D; }
      section.portfolio [role=tabpanel]::-webkit-scrollbar {
        width: 0px;
        height: 5px;
        background: transparent; }
      section.portfolio [role=tabpanel]::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        background: transparent;
        border-radius: 0px; }
      section.portfolio [role=tabpanel]::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0px;
        cursor: pointer; }
      section.portfolio [role=tabpanel]::-webkit-scrollbar-thumb:hover {
        background: #1A1A1A; }
      section.portfolio [role=tabpanel] .carousel-tabs-content {
        min-width: 1150px; }

  section.portfolio .nav-tabs li {
    padding: 20px 0px; }
    section.portfolio .nav-tabs li a {
      padding: 5px 10px; }

  section.contact .form-grup {
    padding: 0px 20px; }

  footer {
    padding: 40px 0; } }
@media screen and (max-width: 670px) {
  section.portfolio [role=tabpanel] {
    width: 100%;
    overflow-x: scroll;
    -moz-overflow-x: scroll;
    -o-overflow-x: scroll;
    -webkit-overflow-x: scroll;
    -ms-overflow-x: scroll;
    overflow-x: scroll;
    -moz-overflow-x: scroll;
    -o-overflow-x: scroll;
    -webkit-overflow-x: scroll;
    -ms-overflow-x: scroll; }
    section.portfolio [role=tabpanel]:hover::-webkit-scrollbar {
      height: 5px;
      display: block; }
    section.portfolio [role=tabpanel]:hover::-webkit-scrollbar-thumb {
      background: #0D0D0D; }
    section.portfolio [role=tabpanel]::-webkit-scrollbar {
      width: 0px;
      height: 5px;
      background: transparent; }
    section.portfolio [role=tabpanel]::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px transparent;
      background: transparent;
      border-radius: 0px; }
    section.portfolio [role=tabpanel]::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
      cursor: pointer; }
    section.portfolio [role=tabpanel]::-webkit-scrollbar-thumb:hover {
      background: #1A1A1A; }
    section.portfolio [role=tabpanel] .carousel-tabs-content {
      min-width: 970px; }
  section.portfolio .tab-data {
    overflow-x: scroll;
    -moz-overflow-x: scroll;
    -o-overflow-x: scroll;
    -webkit-overflow-x: scroll;
    -ms-overflow-x: scroll;
    overflow-x: scroll;
    -moz-overflow-x: scroll;
    -o-overflow-x: scroll;
    -webkit-overflow-x: scroll;
    -ms-overflow-x: scroll; }
    section.portfolio .tab-data:hover::-webkit-scrollbar {
      height: 5px;
      display: block; }
    section.portfolio .tab-data:hover::-webkit-scrollbar-thumb {
      background: #0D0D0D; }
    section.portfolio .tab-data::-webkit-scrollbar {
      width: 0px;
      height: 5px;
      background: transparent; }
    section.portfolio .tab-data::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px transparent;
      background: transparent;
      border-radius: 0px; }
    section.portfolio .tab-data::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
      cursor: pointer; }
    section.portfolio .tab-data::-webkit-scrollbar-thumb:hover {
      background: #1A1A1A; }

  section.portfolio .tab-data .nav-tabs {
    min-width: 680px; } }

/*# sourceMappingURL=responsive.css.map */
