@import "../../mixin";
@import "../../variable";
@media screen and(max-width: 768px)
{
	section
	{
	
			overflow: hidden;
		
	}
	.dotted-mask
	{
		display: none !important;
	}
	.out-title
	{
		display: none !important;
	}
	

	header
	{
		background: #000;
		position: relative;
		height: 80px;
		nav
		{
			background: #000000 !important;
			border:none;
			clear: both;
			height: 80px;
			width: 100%;
			.navbar-collapse
			{
				position: relative;
				padding: 0px 10px;
				clear: both;
				border:none;
				padding-top: 0px;
				background: #000;
				float: none;
				padding-bottom: 0px;
				margin-top: 0px;
								border-bottom: 2px solid $yellow;
								overflow: hidden;
	

			}


			.navbar-brand img
			{
				height: 50px;
			}
			.navbar-toggle
			{
				position: relative;
				overflow: hidden;

				top: 20px;
				
			}

			ul 
			{
				box-sizing:border-box;
				overflow: hidden;	

				margin: 0;
				padding: 0;

				clear: both;
				li
				{
					padding-left: 10px;
					&:last-child
					{
						
					}

				}
			}
		}
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		border:none;
	}

	section.banner
	{
		height: 500px;
		.banner-text
		{
			padding-top: 30px;
		}
	}


	//who we area
	section.who-we-are
	{
		margin-top: 0px;
		padding-top: 0px;
		padding-top: 100px;
		margin-bottom: 0px;
		padding-bottom: 50px;
		.inset-def
		{
			max-width: calc(100% - 200px);
		}
		.row
		{
			padding-top: 30px;
		}
	}
	section.who-we-are .who-bg .intitle
	{
		font-size: 22px;
		max-width: 350px;
	}
	section.who-we-are .who-bg p
	{
		font-size: 14px;
	}
	section.who-we-are .who-title
	{
		margin-top: -150px;
	}
	section.who-we-are .who-bg .lates
	{
		padding-top: 10px;
		padding-left: 15px;
	}
	section.who-we-are .who-title h2
	{

	}

section.who-we-are .more 
{
padding-bottom: 0px;
padding-top: 15px;
}

section.what-we-do .what-we
{
	padding: 15px 0;
	p
	{
		font-size: 14px;
	}
}
section.what-we-do .text-definition .def-title h3
{
	font-size: 24px;
}




//client

section.client
{
	padding: 0px 0;


}
section.client .client-carousel .item
{
	padding-right: 20px;
}
section.client .image-stage
{
	width: 100% !important;
	padding-left: 30px;
	padding-right: 10px;
	margin: 0;


	box-sizing:border-box;
	overflow: hidden;
	position: relative;
}
section.client .clien-image
{

}

//porttfolio


section.portfolio
{
	padding-top:100px;
	[role=tabpanel]
	{
		width: 100%;
		@include overflow-x(scroll); 
		@include scrollbar-custom();
	.carousel-tabs-content
	{
		min-width: 1150px;
	}}
}
section.portfolio .nav-tabs li
{
	padding: 20px 0px;
	a
	{
		padding: 5px 10px;
	}
}
section.contact .form-grup 
{
	padding: 0px 20px;
}
footer
{
	padding: 40px 0;
}
}

@media screen and (max-width: 670px)
{

	section.portfolio 
	{

		[role=tabpanel]
	{
		width: 100%;
		@include overflow-x(scroll); 
		@include scrollbar-custom();
	.carousel-tabs-content
	{
		min-width: 970px;
	}}




		.tab-data
	{
		@include overflow-x(scroll);
		@include scrollbar-custom();

		

	 }}
	 section.portfolio .tab-data .nav-tabs
	 {
	 	min-width: 680px;
	 }
}