* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 1440px) {
  .container {
    width: 1230px; }

  section.banner {
    height: 800px; }
    section.banner .banner-text {
      padding-left: 110px;
      padding-top: 250px; }

  section.what-we-do .text-in-title {
    left: -70px; }

  footer .logo-container img {
    position: relative;
    left: -10px; } }

/*# sourceMappingURL=responsive.css.map */
