@import 'mixin';
$rubik: 'Rubik', sans-serif;
.bg-yellow
{
	background: #ffb900;
	height: 400px;
	width: 100%;
}
#hotProduct
{
	position: relative;
	background: #f8f8f8;

	&::after
	{
		content: '';
		position: absolute;
		right: 0;
		display: block;
		top: 0;
		width: 80px;
		height: 100%;
		background: transparent;
		z-index: 3;
		@include box-shadow(inset -27px 0px 30px -6px rgba(255,255,255,.75));


	}
	.item{
			padding:0px 10px;
			overflow: hidden;
			box-sizing:border-box;
		}
button[role=presentation]{
	position: relative;
	height: 40px;
	width: 40px;
	background-color: #ffffff;
  @include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.5));
  overflow: hidden;
  @include normal-button();
  border-radius: 100%;
  top: calc(50% - 30px);
  position: absolute;
  @include transition(.2s ease);

  color: #555555;
  i{
  	  font-size: 20px;
  	  position: relative;
  }

  &:active
  {
  	margin-top: 2px;
  	 @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.5));
  }
  z-index: 9;
  &.owl-next
  {
  	right: -15px;
  	i{
  		right: -1px;
  	}
  }
   &.owl-prev
  {
  	left: -15px;
  	i{
  		left: -1px;
  	}
  }

}
}
.stage-component
{
	background: #fff;
	.stage-outer-padd
	{
		padding-right: 0px;
		padding-left: 0px;
		overflow: hidden;
		display: block;
		background: #fff;
		.stage-image-container
		{
			height: 100%;
			overflow: hidden;
			img{
				width: 100%;
				overflow: hidden;
				object-fit:cover;
				height: 100%;
				object-position:center;
			}
		}
	}

	.stage-outer-def
	{
		overflow: hidden;
		.product-list-draf:last-child
		{
			border-top: 2px solid #d9d9d9;
		}
		.product-list
		{
			padding: 0px 0px;
			position: relative;
			min-height: 200px;
			overflow: hidden;
			&:last-child{
				border-left: 2px solid #d9d9d9;
			}
			.product-images
			{
				height: calc(100% - 40px);
				min-height: 100px;
				max-height: 200px;
				padding: 30px 0 40px 0px;
				box-sizing:border-box;
				clear: both;
				overflow: hidden;
				img{
					height: auto;
					margin:0 auto;
					width: auto;
					max-height: 100px;					

				}
			}
			.product-title
			{
				height: 40px;
				padding: 10px 0;
				position: absolute;
				bottom: 0;
				width: 100%;
				p{
					font-size: 14px;
					font-family: $rubik ;
					font-weight: 500;
					color: #4a4a4a;

				}
			}
		}
	}
}

@media screen and(max-width: 990px)
{
	.stage-component .stage-outer-def .product-list
	{
		min-height: 170px;
	}
	.stage-component .stage-outer-def .product-list .product-images
	{
							padding: 20px  0px 30px 0px;
							max-height: 150px;}
}
@media screen and(max-width: 767px)
{
	.stage-component .stage-outer-def .product-list .product-images img
	{
		max-height: 90px;
	}
	#hotProduct
	{
		&::after
		{
			display: none;
		}
	}
}
@media screen and(max-width: 550px)
{
	.stage-component .stage-outer-def .product-list .product-images img
	{
		max-height: 80px;
	}
}

@media screen and(max-width: 420px)
{
	.stage-component .stage-outer-def .product-list .product-images img
	{
		max-height: 70px;
	}
}
