* {
  margin: 0;
  padding: 0; }

.bg-yellow {
  background: #ffb900;
  height: 400px;
  width: 100%; }

#hotProduct {
  position: relative;
  background: #f8f8f8; }
  #hotProduct::after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    z-index: 3;
    box-shadow: inset -27px 0px 30px -6px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset -27px 0px 30px -6px rgba(255, 255, 255, 0.75);
    -o-box-shadow: inset -27px 0px 30px -6px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: inset -27px 0px 30px -6px rgba(255, 255, 255, 0.75);
    -ms-box-shadow: inset -27px 0px 30px -6px rgba(255, 255, 255, 0.75); }
  #hotProduct .item {
    padding: 0px 10px;
    overflow: hidden;
    box-sizing: border-box; }
  #hotProduct button[role=presentation] {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: 0;
    cursor: pointer;
    border-radius: 100%;
    top: calc(50% - 30px);
    position: absolute;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #555555;
    z-index: 9; }
    #hotProduct button[role=presentation]:focus {
      outline: 0; }
    #hotProduct button[role=presentation] i {
      font-size: 20px;
      position: relative; }
    #hotProduct button[role=presentation]:active {
      margin-top: 2px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5); }
    #hotProduct button[role=presentation].owl-next {
      right: -15px; }
      #hotProduct button[role=presentation].owl-next i {
        right: -1px; }
    #hotProduct button[role=presentation].owl-prev {
      left: -15px; }
      #hotProduct button[role=presentation].owl-prev i {
        left: -1px; }

.stage-component {
  background: #fff; }
  .stage-component .stage-outer-padd {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    display: block;
    background: #fff; }
    .stage-component .stage-outer-padd .stage-image-container {
      height: 100%;
      overflow: hidden; }
      .stage-component .stage-outer-padd .stage-image-container img {
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        object-position: center; }
  .stage-component .stage-outer-def {
    overflow: hidden; }
    .stage-component .stage-outer-def .product-list-draf:last-child {
      border-top: 2px solid #d9d9d9; }
    .stage-component .stage-outer-def .product-list {
      padding: 0px 0px;
      position: relative;
      min-height: 200px;
      overflow: hidden; }
      .stage-component .stage-outer-def .product-list:last-child {
        border-left: 2px solid #d9d9d9; }
      .stage-component .stage-outer-def .product-list .product-images {
        height: calc(100% - 40px);
        min-height: 100px;
        max-height: 200px;
        padding: 30px 0 40px 0px;
        box-sizing: border-box;
        clear: both;
        overflow: hidden; }
        .stage-component .stage-outer-def .product-list .product-images img {
          height: auto;
          margin: 0 auto;
          width: auto;
          max-height: 100px; }
      .stage-component .stage-outer-def .product-list .product-title {
        height: 40px;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        width: 100%; }
        .stage-component .stage-outer-def .product-list .product-title p {
          font-size: 14px;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          color: #4a4a4a; }

@media screen and (max-width: 990px) {
  .stage-component .stage-outer-def .product-list {
    min-height: 170px; }

  .stage-component .stage-outer-def .product-list .product-images {
    padding: 20px  0px 30px 0px;
    max-height: 150px; } }
@media screen and (max-width: 767px) {
  .stage-component .stage-outer-def .product-list .product-images img {
    max-height: 90px; }

  #hotProduct::after {
    display: none; } }
@media screen and (max-width: 550px) {
  .stage-component .stage-outer-def .product-list .product-images img {
    max-height: 80px; } }
@media screen and (max-width: 420px) {
  .stage-component .stage-outer-def .product-list .product-images img {
    max-height: 70px; } }

/*# sourceMappingURL=main.css.map */
