@import 'mixin';
@import 'variable';
@import 'animation';
@import 'component.css';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
//header
html,body{
	font-family: $rubik;
}
header {
	z-index: 9999;
	width: 100%;
	position: fixed;
.container-header
{
	padding: 0 50px;
}

	&.scroll
	{
			background: #3E48FA;
			border-radius: 0 !important;
			@include box-shadow(0px 4px 20px 0px rgba(0,0,0,.1));

		nav.navbar
		{
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	@include transition(.2s ease);
	nav.navbar
	{
		background: transparent !important;
		padding: 15px 10px;
		border-radius: 0px !important;
		margin: 0px !important;
		@include transition(.2s ease);
		overflow: hidden !important;
		background: transparent  !important;
		clear: both;	
		.navbar-brand
		{
			padding: 5px 10px;			
			a{
				text-decoration: none;	
			}
			h2
			{
				padding: 5px 10px 5px 0;
				margin: 0 !important;
				color: #fff;	
				margin-left: 10px !important;
			}
		}
		ul
		{
			
			li{
				padding: 0px 10px;
				font-size: 16px;
				&.button{
					padding: 5px 5px;
					a{
						padding: 0 !important;
					}
					button{
						padding: 10px 30px;
						border-radius: 2.4px;
						border-radius: 1.5px;
						background: #6e7cff;
						@include transition(.2s ease-in-out);
						color: #fff;
						&:hover
						{
							background: #fff;
							color: #6e7cff;
						}

						&.Singup
						{
							background: #fff;
							color: #6e7cff;
							&:hover
							{
								background: #6e7cff;

								color: #fff;
							}
						} 	
					}
				}
				&:hover a
				{
					background: transparent;
				}
				a{
					text-decoration: none;
					color: #fff;

				}
			}
		}
	}
	&.scroll {
		
	}
	

}
//start content
section.content
{
height: auto;
width: 100%;
background-image: url(../images/bg-color.png);
background-position: bottom center;
background-size: 100% 100%;
background-repeat: no-repeat;

}

.banner-content
{
	font-family: $rubik;	
	padding: 250px 0 50px 0;
	color: #fff;
	.title
	{
	max-width: 600px;
	margin: 0 auto;
	font-weight: 1000 !important;
	h1
	{
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: 0.8px;
		font-size: 38px;
		 line-height: 1.45;
  letter-spacing: 0.3px;
	}
	}
	.subtitle
	{
		max-width: 500px;
		margin: 0 auto;
		 color: #7fa6ff;
		 padding: 20px 0;
		 font-size: 16px;
		 p{
		 	font-weight: 500;
		 }
	}
	.trader
	{
		padding: 80px 30px 50px 30px;
	}

	#list-trade
	{
		
		.owl-nav
		{&.disabled
		{
			display: block !important;
		}
			button{
				height: 40px;
				width: 40px;

				color: #3762fb;
				border-radius: 100%;
				background: #fff;
				top: calc(40% - 5px);
				@include normal-button();
					position: absolute;
					font-size: 20px;
					z-index: 9999;

					&.owl-prev{
						left: -40px;
						}
					&.owl-next
						{
							right: -40px;
						}

			}
		}
	 .trading-item	
	 {

	 	overflow: hidden;
	 	padding: 20px 20px 100px 20px;
	 	overflow: hidden;
	 	box-sizng:border-box;
	 	.trader
	 	{	 	background: #FFF;
	 		@include border-radius(5px);
	 		overflow: hidden;
	 		padding: 20px 0px;
	 		@include box-shadow( 0 25px 37px 1.5px rgba(64, 69, 78, 0.4));
	 		overflow: hidden;
	 		position: relative;

	 		.trader-header
	 		{
	 			height: auto;
	 			padding: 10px 0 10px 0;
	 			overflow: hidden;
	 			position: relative;
	 			overflow: hidden;
	 			.coint-logo
	 			{
	 				height:auto;
	 				padding: 10px 0;
	 				clear: both;
	 				display: flex;
	 				justify-content:center;
	 				width: 100%;
	 				img{
	 					height:60px;
	 					width: auto;
	 					margin: 0 auto;
	 					object-fit:cover;
	 				}
	 			}
	 			.coint-def
	 			{
	 				width: 100%;
	 				font-size: 17px;
	 				text-align: center;
				  font-weight: 500;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  color: #8d97b5;
	 			}
	 		}
	 		.trader-chart
	 		{
	 			background: #fff;
	 			position: relative;
	 			overflow: hidden;
	 			height: 155px;
	 			.chart-canvas
	 			{
	 				height: 130px;
	 				top: 0;
	 				width: 100%;
	 				position: static;
	 				overflow: hidden;
	 				top: 0;
	 				z-index: 0;
	 				display: block;
	 				canvas
	 				{
	 					width: 100% !important;
	 					height: 100% !important;

	 				}

	 			}
	 			.chart-def
	 			{
	 				width: 100%;
	 				height: 130px;
	 				display: block;
	 				clear: both;
	 				.chart-list
	 				{
	 					position: relative;
	 					height: 20px;
	 					display: flex;
	 					align-items:bottom;
	 					div.list{
	 						height: 100%;
	 						width: 14.285714285714286%;
	 						display: none !important;
	 						float: left;
	 						position: relative;
	 						z-index: 9;
	 						display: flex;
	 						opacity: 0;
	 						background: linear-gradient( #ffffff,#73E8BE);	 						


	 					}
	 				}
	 				.chart-foot
	 				{
	 					clear: none;
	 					position: relative;
	 					bottom: 0px;
	 					color: #000;
	 					//background: red;
	 					height: 25px;
	 					top: 0px;
	 					padding-top: 5px;
	 					max-height: 30px;
	 					overflow: hidden;
	 					width: 100%;
	 					border-top: 1px solid #CFD6EA;
	 					ul{
	 						padding-top: 6px;
	 						li{
	 							list-style: none;
	 							text-align: center;
	 							float: left;
	 							width: 14.285714285714286%;
	 							text-transform: uppercase;
	 							font-size: 11px;
	 							font-weight: bold;
	 							color: #CFD6EA;
	 							cursor: pointer;
	 							font-family: $rubik;	
	 							font-weight: 300;
	 						}
	 					}
	 				}
	 			}
	 		}
	 		.trader-deff
	 		{
	 			overflow: hidden;
	 			padding-top: 15px;
	 			@include padding-x(20px,20px);
	 			.market-list-cont
	 			{

	 				.market-list
	 				{
	
	 					padding: 10px 0;
	 					.market-name
	 					{
	 						span{
	 							color: #8d97b5;
	 						}
	 					}
	 					.market-deff
	 					{
	 						i{
	 							margin-right: 10px;
	 							font-style: normal !important;
	 						}
	 						&[type = stable]{
	 							span{
	 								color: #2a3147;
	 							}
	 							i {
	 								color: #00d185;
	 							}
	 						}
	 						
	 						&[type=up],&[type = stable]
	 						{
	 							i{
	 								font-family: FontAwesome;
	 								&::before{
	 									content: "\f0d8";
	 									@include box-sizing(border-box);
	 									color: #00d185;
	 								}
	 							}
	 							span{
	 								color: #2a3147;
	 							}
	 						}
	 						&[type = up]{
	 							span{
	 								color: #00d185;
	 							}
	 							i {
	 								color: #00d185;
	 							}
	 						}
	 						&[type=down]
	 						{
	 							i{
	 								font-family: FontAwesome;
	 								&::before{
	 									content: "\f0d7";
	 									color: #e81e8d;
	 									@include box-sizing(border-box);
	 								}
	 							}
	 							span{
	 								color: #e81e8d;
	 							}
	 						}
	 					}
	 				}
	 			}
	 		}
	 	}
	 }
	}
}

/*about us */
section.about-us-sec{
	background-image: url(../images/bg-gray.svg);
	overflow: hidden;
	clear: both;

	background-position:  bottom left;
	background-size: 100% auto ;
	background-repeat: no-repeat;
	padding: 100px 0 0px 0;

	padding-bottom: 500px;	

	.title
	{

		h1{
			 color: #2a3147;
			   font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
		}
	}

	.about-text
	{
		padding-right: 10px;
		box-sizing:border-box;
		overflow: hidden;
	p{
		font-size: 16px;
		color: #8d97b5;
		text-align: justify;
		text-justify:inter-word;
		 line-height: 1.67;
  letter-spacing: 0.2px;
  padding: 10px 0;
	}}
.image-about{
	position: relative;
	overflow: hidden;
	top: -100px;
	padding-left: 100px;
	img{
		max-width: 500px;
		float: right;
		object-fit:cover;
	}

}
.linear-padd
{
	padding: 20px 0;
}
	.button-area{
		padding: 50px 0;
		a{
			text-decoration: none;
			padding: 60px 0;
		}
		button{
			padding: 12px 22px;
			border-radius: 1.5px;
			overflow: hidden;
			color: #fff;
			@include normal-button();
			font-size: 15px;
			 background-color: #0dbfa0;
  	@include box-shadow(0 2.5px 5px 0 rgba(129, 129, 129, 0.5));


		}
	}
}

section.how-work{
	margin-top: -150px;
	.linear-padd{
		padding: 20px 0;
	}
.title-work
{
	clear: both;
	position: relative;
}
.we-work-data
{
	position: relative;
	margin:0 ;
padding: 0;
	top: -105px;
}

	.title
	{
		position: relative;
		overflow: hidden;
		h1{
			font-size: 38px;
			line-height: 1.53;
			font-weight: 500;
		}
		
	}
	.image-stage
	{
		padding-left: 0px;
	}
	.image-area{
		width: 100%;
		img{
			max-width:500px;
			width: 100%;
			object-fit:cover;
			position: relative;
			left: -35px;
		}
	}
	.text-area
	{
		padding-top: 120px;
		p{
			line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: justify;
  color: #8d97b5;
  text-justify:inter-word;
  font-size: 16px;
		}
	}
}
.tryit
{
	padding: 50px 0 0 0 ;
	button{
		 background-color: #0dbfa0;
  box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
  padding: 12px 40px;
  border-radius: 1.5px;
  @include normal-button();
    letter-spacing: 0.2px;
    color: #f4f7ff;


	}
}


//set bg footer
.set-bg-footer
{
	background-image: url(../images/bg-footer.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 100px;
	padding-top: 80px;
}


section.update
{
overflow: hidden;
background-image: url(../images/bg-blog.svg);
background-repeat: no-repeat;
background-position: top right;
background-size: auto 900px;
.linear-padd
{
	padding: 30px 0 0 0 ;
}
.title
{
	padding: 30px 0;
	h3{
		 font-weight: 500;
  font-style: normal;
  font-size: 38px;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #2a3147;
	}
}

.container-list
{

}
.semicontainer
{
	width: 1200px;
	margin-right: 0 auto;
	overflow: hidden;
	clear: both;
	background: red;
}

	.list-data
{

	padding: 30px 20px;
	box-sizing:border-box;
	@include transition(.3s ease);
	&:hover{
		position: relative;
		.list-news
		{
			//@include box-shadow(0 10px 20px 0 rgba(93, 93, 93, 0.8));
		}
	}


}

	.list-news
	{
		@include box-shadow(0 7.5px 30px 0 rgba(93, 93, 93, 0.5));
		@include transition(.3s ease);
		border-radius: 2.5px;
		overflow: hidden;
		background: #fff;
		.container-fluid
		{
			padding: 0px 25px;
		}
		.list-header
		{
			height: 200px;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position:right;
			}
		}
		.list-deff
		{
			.list-title
			{
				h3
				{
					font-size: 18px;

					  font-weight: 500;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.56;
					  color: #2a3147;
				}
			}
			padding: 10px 0;
			.list-content
			{
				height: auto;
				height: 130px;
				padding: 10px 0;
				p{
					font-weight: normal;
					  font-style: normal;
					  font-stretch: normal;
					  line-height: 1.79;
					  letter-spacing: normal;
					  text-align: justify;
					  color: #9da4bb;
					  font-size: 14px;

				}
			}
			
		}
		.list-foot
		{
			padding: 15px 0;
			.news
			{
				border-radius: 100px  ;
				overflow: hidden;
				padding: 7px 20px;
				@include normal-button();
				background: #f1f6ff;
				color:  #2a3147;
			}
		}
	}
}

section.contact	
{
	padding-top: 100px;
	color: #fff;

	.started-title
	{
		font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #f4f7ff;
  font-size: 38px;
  padding: 10px 0;
	}
	.subtitle
	{
		max-width: 300px ;

		margin: 0 auto;
		text-align: center;
		 font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.2px;
  text-align: center;
  color:  #f4f7ff;
  font-size: 16px;
  overflow: hidden;
	}
	.started-area
	{
		padding: 50px 0;
	}
	.contact-email
	{
		padding: 0px 0px;
		max-width: 400px;
		background-color: #172d85;
		display: block;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		clear: both;
		color: #fff;

		i{
			font-size: 18px;
			width: 20px;
			font-weight: normal;
			height: 20px;
			float: left;
			margin-left: 10px;
			position: relative;
			top: 10px;
			opacity: 0.29;
		}
		input{
			padding: 9px 10px;
			width: calc(100% - 130px);
			float: left;
			border:none;
			background: transparent;
			&::-webkit-input-placeholder{
				color:#fff;
				opacity: 0.29;
				font-weight: 300;
			}
			&:focus{
				outline: 0;
			}

				font-size: 16px;
		}
		button{
			float: right;
			max-width: 100px;
			@include normal-button();
			background: #00c6a4;
			padding: 10px 20px;
			font-size: 16px;
			color: #fff;

		}

	}
.nav-foot
		{
			padding: 20px 0;
			margin: 0 auto;
			max-width: 400px;
			display: block;
			
			ul{
				padding: 90px 0 50px 0;
				li{
					float: left;
					width: calc(33% - 6px);
					color: #ff;
					text-align: center;
					a{
						text-decoration: none;
						color: #fff;
					}
					&:first-child{
						text-align: left;
					}
					&:last-child{
						text-align: right;
					}
					&.oval{
						width: 10px;
						align-items:center;
						display: flex;
						height: 20px;
						vertical-align: middle;
						align-items:center;

						display: block;
						span{
							width: 5px;
							height: 5px;
							background: #8d97b5;
							margin: 0 auto;
							display: block;
							margin-top: 7px;
							border-radius: 100%;
						}
					}
				}
			}
			
		}

}

//settingf footer
.footer-section
{	
	padding: 30px 0 0px 0;
	.footer-logo
	{
		.logo-container
		{
			padding-right: 10px;
		}
		h2{
			position: relative;
			margin: 0;
			margin-top: 5px;
			color: #fff; 

		}
	}
.social-icon
{
	ul{
		li{
			float: left;
			padding: 0px 10px;
			&:last-child	
			{
				padding-right: 0px;
			}
			&:hover{i{
				color: #e5eaf6;
			}}
			
			a{
				text-decoration: none;
				i{
					@include transition(.2s ease-i-out);
					font-size: 25px;
					color:  #1e3186;

				}
			}
		}
	}
}

}



@media screen and(min-width: 1440px)
{
	html,body
	{
		max-width: 1440px;
		overflow-x: hidden;
		margin: 0 auto;
	}
	header
	{
		width: 1440px;
		overflow: hidden;
	}
}





@media screen and(max-width: 1080px)
{
section.content , section.about-us-sec
{
	background-size: auto 100% ;
	background-position: bottom center;
}
section.about-us-sec .image-about img
	{
		max-width: auto;
		width: 100%;
	}
}


@media screen and(max-width: 1000px)
{
	section.about-us-sec .image-about
	{
		padding-left: 0px;
		top: 0;
	}
	.nav>li>a
	{
		padding: 15px 10px;
	}
}

@media screen and (max-width: 880px)
{
header .container-header
	{
padding: 0px 10px;
	}
}


@media screen and (max-width: 767px)
{
	header
	{
		background: #3E48FA;
		position: relative;
	}
	//banner

	header nav.navbar ul li{
		@include padding-y(15px,15px);
		@include padding-x(0,0);
		width: 100%;		a{
			margin:0 auto;

			text-align: center;

		}
	}
	header nav.navbar ul li.button
	{
		@include padding-y(15px,15px);
		margin:0 auto;
		display: flex;
		justify-content:center;
		align-items:center;
		button{
			margin-right: 0 auto;
			display: flex;
			@include padding-x(40px,40px);

		}

	}

	section.about-us-sec
	{
		padding-top: 0px;
		padding-bottom: 400px;
		margin-top: -100px;
	}


	.banner-content #list-trade .owl-nav.disabled
	{
		display: none !important;
	}
	.banner-content .trader
	{
		@include padding-x(0,0);
	}

	.banner-content
	{
		padding-top: 100px;
	}
	section.about-us-sec .image-about
	{
		top: 0;
		padding: 50px 0;
		margin:0 auto;
		clear: both;
		justify-content:center;
		align-items:center;
		display: flex;
		img{
			float:none;
			margin:0 auto;
		
		}
	}
	section.how-work .text-area
	{
		padding-top: 0px;
	}
	section.how-work .we-work-data
	{
		top: 0;
	}
	section.how-work .image-area
	{
		margin:0 auto;
		justify-content:center;
		align-items:center;
		@include padding-y(30px,30px);
		display: flex;
	}

	section.how-work .image-area img
	{
		left: 0;
		margin:0 auto;

	}
	.banner-content #list-trade .trading-item .trader
	{
		@include padding-y(20px,20px);
	}
}
@media screen and(max-width: 600px)
{
	.banner-content .title
	{
		width: calc(100% - 10px);
		max-width: auto;
	}
}


@media screen and(max-width: 550px)
{
	section.how-work
	{
		margin-top: -300px;
	}
	section.about-us-sec .image-about img
	{
		max-width: auto;
		width: 100%;
	}
	section.contact .contact-email
	{
width: calc(100% - 10px);
max-width: auto;
	}
section.contact .nav-foot
{
	max-width: auto;
	width: calc(100% - 10px);
}
.banner-content #list-trade .trading-item
{
	@include padding-x(20px,20px);
}
.footer-logo
{
	float: none;
	width: 100%;
padding: 20px 0;
display: flex;
justify-content:center;
}
.social-icon 
{

display: flex;
justify-content:center;
	float: none;
	width: 100%;
	padding: 20px 0;
}
}
@media screen and(max-width: 500px)
{
	.banner-content .subtitle
	{
		max-width: auto;
		width: clac(1005 - 10px);
	}
}
@media screen and(max-width: 450px)
{
	.banner-content
	{
		.container
		{
			@include padding-x(0,0);
		}
	}
}