@import url(component.css);
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: "Rubik", sans-serif; }

header {
  z-index: 9999;
  width: 100%;
  position: fixed;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }
  header .container-header {
    padding: 0 50px; }
  header.scroll {
    background: #3E48FA;
    border-radius: 0 !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); }
    header.scroll nav.navbar {
      padding-top: 5px;
      padding-bottom: 5px; }
  header nav.navbar {
    background: transparent !important;
    padding: 15px 10px;
    border-radius: 0px !important;
    margin: 0px !important;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    overflow: hidden !important;
    background: transparent  !important;
    clear: both; }
    header nav.navbar .navbar-brand {
      padding: 5px 10px; }
      header nav.navbar .navbar-brand a {
        text-decoration: none; }
      header nav.navbar .navbar-brand h2 {
        padding: 5px 10px 5px 0;
        margin: 0 !important;
        color: #fff;
        margin-left: 10px !important; }
    header nav.navbar ul li {
      padding: 0px 10px;
      font-size: 16px; }
      header nav.navbar ul li.button {
        padding: 5px 5px; }
        header nav.navbar ul li.button a {
          padding: 0 !important; }
        header nav.navbar ul li.button button {
          padding: 10px 30px;
          border-radius: 2.4px;
          border-radius: 1.5px;
          background: #6e7cff;
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          -ms-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
          color: #fff; }
          header nav.navbar ul li.button button:hover {
            background: #fff;
            color: #6e7cff; }
          header nav.navbar ul li.button button.Singup {
            background: #fff;
            color: #6e7cff; }
            header nav.navbar ul li.button button.Singup:hover {
              background: #6e7cff;
              color: #fff; }
      header nav.navbar ul li:hover a {
        background: transparent; }
      header nav.navbar ul li a {
        text-decoration: none;
        color: #fff; }

section.content {
  height: auto;
  width: 100%;
  background-image: url(../images/bg-color.png);
  background-position: bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.banner-content {
  font-family: "Rubik", sans-serif;
  padding: 250px 0 50px 0;
  color: #fff; }
  .banner-content .title {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 1000 !important; }
    .banner-content .title h1 {
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: 0.8px;
      font-size: 38px;
      line-height: 1.45;
      letter-spacing: 0.3px; }
  .banner-content .subtitle {
    max-width: 500px;
    margin: 0 auto;
    color: #7fa6ff;
    padding: 20px 0;
    font-size: 16px; }
    .banner-content .subtitle p {
      font-weight: 500; }
  .banner-content .trader {
    padding: 80px 30px 50px 30px; }
  .banner-content #list-trade .owl-nav.disabled {
    display: block !important; }
  .banner-content #list-trade .owl-nav button {
    height: 40px;
    width: 40px;
    color: #3762fb;
    border-radius: 100%;
    background: #fff;
    top: calc(40% - 5px);
    border: 0;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    z-index: 9999; }
    .banner-content #list-trade .owl-nav button:focus {
      outline: 0; }
    .banner-content #list-trade .owl-nav button.owl-prev {
      left: -40px; }
    .banner-content #list-trade .owl-nav button.owl-next {
      right: -40px; }
  .banner-content #list-trade .trading-item {
    overflow: hidden;
    padding: 20px 20px 100px 20px;
    overflow: hidden;
    box-sizng: border-box; }
    .banner-content #list-trade .trading-item .trader {
      background: #FFF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      padding: 20px 0px;
      box-shadow: 0 25px 37px 1.5px rgba(64, 69, 78, 0.4);
      -moz-box-shadow: 0 25px 37px 1.5px rgba(64, 69, 78, 0.4);
      -o-box-shadow: 0 25px 37px 1.5px rgba(64, 69, 78, 0.4);
      -webkit-box-shadow: 0 25px 37px 1.5px rgba(64, 69, 78, 0.4);
      -ms-box-shadow: 0 25px 37px 1.5px rgba(64, 69, 78, 0.4);
      overflow: hidden;
      position: relative; }
      .banner-content #list-trade .trading-item .trader .trader-header {
        height: auto;
        padding: 10px 0 10px 0;
        overflow: hidden;
        position: relative;
        overflow: hidden; }
        .banner-content #list-trade .trading-item .trader .trader-header .coint-logo {
          height: auto;
          padding: 10px 0;
          clear: both;
          display: flex;
          justify-content: center;
          width: 100%; }
          .banner-content #list-trade .trading-item .trader .trader-header .coint-logo img {
            height: 60px;
            width: auto;
            margin: 0 auto;
            object-fit: cover; }
        .banner-content #list-trade .trading-item .trader .trader-header .coint-def {
          width: 100%;
          font-size: 17px;
          text-align: center;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #8d97b5; }
      .banner-content #list-trade .trading-item .trader .trader-chart {
        background: #fff;
        position: relative;
        overflow: hidden;
        height: 155px; }
        .banner-content #list-trade .trading-item .trader .trader-chart .chart-canvas {
          height: 130px;
          top: 0;
          width: 100%;
          position: static;
          overflow: hidden;
          top: 0;
          z-index: 0;
          display: block; }
          .banner-content #list-trade .trading-item .trader .trader-chart .chart-canvas canvas {
            width: 100% !important;
            height: 100% !important; }
        .banner-content #list-trade .trading-item .trader .trader-chart .chart-def {
          width: 100%;
          height: 130px;
          display: block;
          clear: both; }
          .banner-content #list-trade .trading-item .trader .trader-chart .chart-def .chart-list {
            position: relative;
            height: 20px;
            display: flex;
            align-items: bottom; }
            .banner-content #list-trade .trading-item .trader .trader-chart .chart-def .chart-list div.list {
              height: 100%;
              width: 14.285714285714286%;
              display: none !important;
              float: left;
              position: relative;
              z-index: 9;
              display: flex;
              opacity: 0;
              background: linear-gradient(#ffffff, #73E8BE); }
          .banner-content #list-trade .trading-item .trader .trader-chart .chart-def .chart-foot {
            clear: none;
            position: relative;
            bottom: 0px;
            color: #000;
            height: 25px;
            top: 0px;
            padding-top: 5px;
            max-height: 30px;
            overflow: hidden;
            width: 100%;
            border-top: 1px solid #CFD6EA; }
            .banner-content #list-trade .trading-item .trader .trader-chart .chart-def .chart-foot ul {
              padding-top: 6px; }
              .banner-content #list-trade .trading-item .trader .trader-chart .chart-def .chart-foot ul li {
                list-style: none;
                text-align: center;
                float: left;
                width: 14.285714285714286%;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
                color: #CFD6EA;
                cursor: pointer;
                font-family: "Rubik", sans-serif;
                font-weight: 300; }
      .banner-content #list-trade .trading-item .trader .trader-deff {
        overflow: hidden;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px; }
        .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list {
          padding: 10px 0; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-name span {
            color: #8d97b5; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff i {
            margin-right: 10px;
            font-style: normal !important; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=stable] span {
            color: #2a3147; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=stable] i {
            color: #00d185; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=up] i, .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=stable] i {
            font-family: FontAwesome; }
            .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=up] i::before, .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=stable] i::before {
              content: "\f0d8";
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-border-radius: border-box;
              box-sizing: border-box;
              color: #00d185; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=up] span, .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=stable] span {
            color: #2a3147; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=up] span {
            color: #00d185; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=up] i {
            color: #00d185; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=down] i {
            font-family: FontAwesome; }
            .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=down] i::before {
              content: "\f0d7";
              color: #e81e8d;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-border-radius: border-box;
              box-sizing: border-box; }
          .banner-content #list-trade .trading-item .trader .trader-deff .market-list-cont .market-list .market-deff[type=down] span {
            color: #e81e8d; }

/*about us */
section.about-us-sec {
  background-image: url(../images/bg-gray.svg);
  overflow: hidden;
  clear: both;
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 100px 0 0px 0;
  padding-bottom: 500px; }
  section.about-us-sec .title h1 {
    color: #2a3147;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53; }
  section.about-us-sec .about-text {
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden; }
    section.about-us-sec .about-text p {
      font-size: 16px;
      color: #8d97b5;
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.67;
      letter-spacing: 0.2px;
      padding: 10px 0; }
  section.about-us-sec .image-about {
    position: relative;
    overflow: hidden;
    top: -100px;
    padding-left: 100px; }
    section.about-us-sec .image-about img {
      max-width: 500px;
      float: right;
      object-fit: cover; }
  section.about-us-sec .linear-padd {
    padding: 20px 0; }
  section.about-us-sec .button-area {
    padding: 50px 0; }
    section.about-us-sec .button-area a {
      text-decoration: none;
      padding: 60px 0; }
    section.about-us-sec .button-area button {
      padding: 12px 22px;
      border-radius: 1.5px;
      overflow: hidden;
      color: #fff;
      border: 0;
      cursor: pointer;
      font-size: 15px;
      background-color: #0dbfa0;
      box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
      -moz-box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
      -o-box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
      -webkit-box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
      -ms-box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5); }
      section.about-us-sec .button-area button:focus {
        outline: 0; }

section.how-work {
  margin-top: -150px; }
  section.how-work .linear-padd {
    padding: 20px 0; }
  section.how-work .title-work {
    clear: both;
    position: relative; }
  section.how-work .we-work-data {
    position: relative;
    margin: 0;
    padding: 0;
    top: -105px; }
  section.how-work .title {
    position: relative;
    overflow: hidden; }
    section.how-work .title h1 {
      font-size: 38px;
      line-height: 1.53;
      font-weight: 500; }
  section.how-work .image-stage {
    padding-left: 0px; }
  section.how-work .image-area {
    width: 100%; }
    section.how-work .image-area img {
      max-width: 500px;
      width: 100%;
      object-fit: cover;
      position: relative;
      left: -35px; }
  section.how-work .text-area {
    padding-top: 120px; }
    section.how-work .text-area p {
      line-height: 1.67;
      letter-spacing: 0.2px;
      text-align: justify;
      color: #8d97b5;
      text-justify: inter-word;
      font-size: 16px; }

.tryit {
  padding: 50px 0 0 0; }
  .tryit button {
    background-color: #0dbfa0;
    box-shadow: 0 2.5px 5px 0 rgba(129, 129, 129, 0.5);
    padding: 12px 40px;
    border-radius: 1.5px;
    border: 0;
    cursor: pointer;
    letter-spacing: 0.2px;
    color: #f4f7ff; }
    .tryit button:focus {
      outline: 0; }

.set-bg-footer {
  background-image: url(../images/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 100px;
  padding-top: 80px; }

section.update {
  overflow: hidden;
  background-image: url(../images/bg-blog.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 900px; }
  section.update .linear-padd {
    padding: 30px 0 0 0; }
  section.update .title {
    padding: 30px 0; }
    section.update .title h3 {
      font-weight: 500;
      font-style: normal;
      font-size: 38px;
      font-stretch: normal;
      line-height: 1.53;
      letter-spacing: normal;
      color: #2a3147; }
  section.update .semicontainer {
    width: 1200px;
    margin-right: 0 auto;
    overflow: hidden;
    clear: both;
    background: red; }
  section.update .list-data {
    padding: 30px 20px;
    box-sizing: border-box;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    section.update .list-data:hover {
      position: relative; }
  section.update .list-news {
    box-shadow: 0 7.5px 30px 0 rgba(93, 93, 93, 0.5);
    -moz-box-shadow: 0 7.5px 30px 0 rgba(93, 93, 93, 0.5);
    -o-box-shadow: 0 7.5px 30px 0 rgba(93, 93, 93, 0.5);
    -webkit-box-shadow: 0 7.5px 30px 0 rgba(93, 93, 93, 0.5);
    -ms-box-shadow: 0 7.5px 30px 0 rgba(93, 93, 93, 0.5);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 2.5px;
    overflow: hidden;
    background: #fff; }
    section.update .list-news .container-fluid {
      padding: 0px 25px; }
    section.update .list-news .list-header {
      height: 200px;
      overflow: hidden; }
      section.update .list-news .list-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right; }
    section.update .list-news .list-deff {
      padding: 10px 0; }
      section.update .list-news .list-deff .list-title h3 {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        color: #2a3147; }
      section.update .list-news .list-deff .list-content {
        height: auto;
        height: 130px;
        padding: 10px 0; }
        section.update .list-news .list-deff .list-content p {
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.79;
          letter-spacing: normal;
          text-align: justify;
          color: #9da4bb;
          font-size: 14px; }
    section.update .list-news .list-foot {
      padding: 15px 0; }
      section.update .list-news .list-foot .news {
        border-radius: 100px;
        overflow: hidden;
        padding: 7px 20px;
        border: 0;
        cursor: pointer;
        background: #f1f6ff;
        color: #2a3147; }
        section.update .list-news .list-foot .news:focus {
          outline: 0; }

section.contact {
  padding-top: 100px;
  color: #fff; }
  section.contact .started-title {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: justify;
    color: #f4f7ff;
    font-size: 38px;
    padding: 10px 0; }
  section.contact .subtitle {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: 0.2px;
    text-align: center;
    color: #f4f7ff;
    font-size: 16px;
    overflow: hidden; }
  section.contact .started-area {
    padding: 50px 0; }
  section.contact .contact-email {
    padding: 0px 0px;
    max-width: 400px;
    background-color: #172d85;
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    color: #fff; }
    section.contact .contact-email i {
      font-size: 18px;
      width: 20px;
      font-weight: normal;
      height: 20px;
      float: left;
      margin-left: 10px;
      position: relative;
      top: 10px;
      opacity: 0.29; }
    section.contact .contact-email input {
      padding: 9px 10px;
      width: calc(100% - 130px);
      float: left;
      border: none;
      background: transparent;
      font-size: 16px; }
      section.contact .contact-email input::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.29;
        font-weight: 300; }
      section.contact .contact-email input:focus {
        outline: 0; }
    section.contact .contact-email button {
      float: right;
      max-width: 100px;
      border: 0;
      cursor: pointer;
      background: #00c6a4;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff; }
      section.contact .contact-email button:focus {
        outline: 0; }
  section.contact .nav-foot {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 400px;
    display: block; }
    section.contact .nav-foot ul {
      padding: 90px 0 50px 0; }
      section.contact .nav-foot ul li {
        float: left;
        width: calc(33% - 6px);
        color: #ff;
        text-align: center; }
        section.contact .nav-foot ul li a {
          text-decoration: none;
          color: #fff; }
        section.contact .nav-foot ul li:first-child {
          text-align: left; }
        section.contact .nav-foot ul li:last-child {
          text-align: right; }
        section.contact .nav-foot ul li.oval {
          width: 10px;
          align-items: center;
          display: flex;
          height: 20px;
          vertical-align: middle;
          align-items: center;
          display: block; }
          section.contact .nav-foot ul li.oval span {
            width: 5px;
            height: 5px;
            background: #8d97b5;
            margin: 0 auto;
            display: block;
            margin-top: 7px;
            border-radius: 100%; }

.footer-section {
  padding: 30px 0 0px 0; }
  .footer-section .footer-logo .logo-container {
    padding-right: 10px; }
  .footer-section .footer-logo h2 {
    position: relative;
    margin: 0;
    margin-top: 5px;
    color: #fff; }
  .footer-section .social-icon ul li {
    float: left;
    padding: 0px 10px; }
    .footer-section .social-icon ul li:last-child {
      padding-right: 0px; }
    .footer-section .social-icon ul li:hover i {
      color: #e5eaf6; }
    .footer-section .social-icon ul li a {
      text-decoration: none; }
      .footer-section .social-icon ul li a i {
        -webkit-transition: 0.2s ease-i-out;
        -moz-transition: 0.2s ease-i-out;
        -o-transition: 0.2s ease-i-out;
        -ms-transition: 0.2s ease-i-out;
        transition: 0.2s ease-i-out;
        font-size: 25px;
        color: #1e3186; }

@media screen and (min-width: 1440px) {
  html, body {
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto; }

  header {
    width: 1440px;
    overflow: hidden; } }
@media screen and (max-width: 1080px) {
  section.content, section.about-us-sec {
    background-size: auto 100%;
    background-position: bottom center; }

  section.about-us-sec .image-about img {
    max-width: auto;
    width: 100%; } }
@media screen and (max-width: 1000px) {
  section.about-us-sec .image-about {
    padding-left: 0px;
    top: 0; }

  .nav > li > a {
    padding: 15px 10px; } }
@media screen and (max-width: 880px) {
  header .container-header {
    padding: 0px 10px; } }
@media screen and (max-width: 767px) {
  header {
    background: #3E48FA;
    position: relative; }

  header nav.navbar ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    header nav.navbar ul li a {
      margin: 0 auto;
      text-align: center; }

  header nav.navbar ul li.button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    header nav.navbar ul li.button button {
      margin-right: 0 auto;
      display: flex;
      padding-left: 40px;
      padding-right: 40px; }

  section.about-us-sec {
    padding-top: 0px;
    padding-bottom: 400px;
    margin-top: -100px; }

  .banner-content #list-trade .owl-nav.disabled {
    display: none !important; }

  .banner-content .trader {
    padding-left: 0;
    padding-right: 0; }

  .banner-content {
    padding-top: 100px; }

  section.about-us-sec .image-about {
    top: 0;
    padding: 50px 0;
    margin: 0 auto;
    clear: both;
    justify-content: center;
    align-items: center;
    display: flex; }
    section.about-us-sec .image-about img {
      float: none;
      margin: 0 auto; }

  section.how-work .text-area {
    padding-top: 0px; }

  section.how-work .we-work-data {
    top: 0; }

  section.how-work .image-area {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; }

  section.how-work .image-area img {
    left: 0;
    margin: 0 auto; }

  .banner-content #list-trade .trading-item .trader {
    padding-top: 20px;
    padding-bottom: 20px; } }
@media screen and (max-width: 600px) {
  .banner-content .title {
    width: calc(100% - 10px);
    max-width: auto; } }
@media screen and (max-width: 550px) {
  section.how-work {
    margin-top: -300px; }

  section.about-us-sec .image-about img {
    max-width: auto;
    width: 100%; }

  section.contact .contact-email {
    width: calc(100% - 10px);
    max-width: auto; }

  section.contact .nav-foot {
    max-width: auto;
    width: calc(100% - 10px); }

  .banner-content #list-trade .trading-item {
    padding-left: 20px;
    padding-right: 20px; }

  .footer-logo {
    float: none;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center; }

  .social-icon {
    display: flex;
    justify-content: center;
    float: none;
    width: 100%;
    padding: 20px 0; } }
@media screen and (max-width: 500px) {
  .banner-content .subtitle {
    max-width: auto;
    width: clac(995px); } }
@media screen and (max-width: 450px) {
  .banner-content .container {
    padding-left: 0;
    padding-right: 0; } }

/*# sourceMappingURL=main.style.css.map */
